Repository SpanPanel/span: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-import-check, radon-complexity, radon-maintainability

pylint-import-check:
  name: pylint import-outside-toplevel check
  entry: poetry run pylint
  language: system
  args:
  - --disable=all
  - --enable=import-outside-toplevel
  - --score=no
  - custom_components/span_panel/
  pass_filenames: false

radon-complexity:
  name: radon complexity check
  entry: poetry run radon
  language: system
  args:
  - cc
  - --min=B
  - --show-complexity
  - custom_components/span_panel/
  pass_filenames: false

radon-maintainability:
  name: radon maintainability index
  entry: poetry run radon
  language: system
  args:
  - mi
  - --min=B
  - --show
  - custom_components/span_panel/
  pass_filenames: false

update the date in the changelog
  CHANGELOG.md
Due: none

update the lock file
  uv.lock
Due: none

bump span-panel-api to 2.6.4 and start 2.0.8 changelog
  CHANGELOG.md
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

bump the version to 2.0.8
  custom_components/span_panel/manifest.json
Due: none

fix(button): read dsm_state for the GFE override guard, not the GFE
  custom_components/span_panel/button.py
  tests/test_button.py
  tests/test_dps_and_bess.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(sensor): name the grid-forming device as an attribute on the GFE sensor
  custom_components/span_panel/sensor_panel.py
  tests/test_dps_and_bess.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat!: move onto span-panel-api 3.0.0b3 and the normalised DER identity
  custom_components/span_panel/schema_expectations.py
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/util.py
  pyproject.toml
  tests/factories.py
  tests/test_evse_entities.py
  tests/test_promoted_sensors.py
  tests/test_sensor_platform.py
  uv.lock
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: surface the MID as a device, with utility-supply health as its one new entity
  custom_components/span_panel/entity_resolver.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/id_builder.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/sensor_panel.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  custom_components/span_panel/util.py
  tests/factories.py
  tests/test_mid_device.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: declare both schema adapters in the manifest, not just the bootstrap
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

Reload on a firmware schema change, and keep Grid Islandable alive across it
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_mid_device.py
  tests/test_promoted_sensors.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Declare each enum sensor's real states instead of discovering them
  custom_components/span_panel/sensor_base.py
  custom_components/span_panel/sensor_definitions.py
  tests/test_enum_sensor_options.py
  tests/test_evse_entities.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Say what the upgrade actually changed, which is less than the repair claimed
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
Due: pylint-import-check, radon-complexity, radon-maintainability

Link sub-devices by registry id, and scope the panel lookup to its entry
  custom_components/span_panel/__init__.py
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/sensor_evse.py
  custom_components/span_panel/util.py
  hacs.json
  pyproject.toml
  requirements_test.txt
  tests/test_binary_sensor_platform.py
  tests/test_circuit_manifest_service.py
  tests/test_device_links.py
  tests/test_diagnostics.py
  tests/test_evse_entities.py
  tests/test_init_helpers.py
  tests/test_mid_device.py
  tests/test_promoted_sensors.py
  tests/test_sensor_entities.py
  tests/test_sensor_platform.py
  tests/test_setup_entry.py
  tests/test_websocket.py
  uv.lock
Due: pylint-import-check, radon-complexity, radon-maintainability

Classify the MID, and stop reading the identifier grammar in two places
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
  custom_components/span_panel/util.py
  custom_components/span_panel/websocket.py
  tests/test_device_links.py
  websocket-api.md
Due: pylint-import-check, radon-complexity, radon-maintainability

Release 2.1.0, and say that the Home Assistant floor moved
  CHANGELOG.md
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

feat(mid): show the firmware and hardware revision the MID publishes
  custom_components/span_panel/util.py
  tests/test_mid_device.py
  uv.lock
Due: pylint-import-check, radon-complexity, radon-maintainability

test: add adapter distributions and vendored schema fixtures
  requirements_test.txt
  tests/adapter_fixtures.py
  tests/fixtures/schema_one_tree.json
  tests/fixtures/schema_one_tree_batteryless.json
  tests/fixtures/schema_one_tree_no_pv.json
  tests/fixtures/schema_zero_types.json
Due: radon-complexity, radon-maintainability

chore: pin span-panel-api 3.0.0b4 and both schema adapters
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

chore: pin b4 in project dependencies and document fixture provenance
  pyproject.toml
  tests/fixtures/README.md
Due: none

refactor: declare snapshot field paths on entity descriptions
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/sensor_circuit.py
  custom_components/span_panel/sensor_definitions.py
  tests/test_field_paths.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor: return a frozenset of producible field paths
  custom_components/span_panel/field_paths.py
  tests/test_field_paths.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor: rename RESIDUAL_DERIVED_PATHS to RESIDUAL_EXEMPT_PATHS
  custom_components/span_panel/field_paths.py
  tests/test_field_paths.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor: complete the exempt field path enumeration
  custom_components/span_panel/field_paths.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test: assert declared field paths are producible by both adapters
  tests/test_field_path_conformance.py
Due: radon-complexity, radon-maintainability

test: pin field path gate coverage and surface the unread inventory in CI
  tests/test_field_path_conformance.py
Due: radon-complexity, radon-maintainability

test: verify field_path declarations against their value_fns
  tests/test_field_path_introspection.py
Due: radon-complexity, radon-maintainability

test: introspect binary sensor declarations and fail on unmapped classes
  tests/test_field_path_introspection.py
Due: radon-complexity, radon-maintainability

test: assert schema unit strings are recognised HA units
  tests/test_unit_vocabulary.py
Due: radon-complexity, radon-maintainability

feat: surface the BESS part number as a diagnostic sensor
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_dps_and_bess.py
  tests/test_promoted_sensors.py
  tests/test_sensor_platform.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test: pin the unit sample floor and the part number's disabled default
  tests/test_promoted_sensors.py
  tests/test_unit_vocabulary.py
Due: radon-complexity, radon-maintainability

refactor: classify schema findings from the adapter's resolved signal
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/schema_expectations.py
  custom_components/span_panel/schema_validation.py
  custom_components/span_panel/sensor_definitions.py
  tests/test_coordinator.py
  tests/test_schema_validation.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test: cover the resolved-unitless and undeclared-description branches
  tests/test_schema_validation.py
Due: radon-complexity, radon-maintainability

fix: excuse the known-bad schema_0 circuit power unit label
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/schema_validation.py
  custom_components/span_panel/sensor_definitions.py
  tests/test_coordinator.py
  tests/test_schema_validation.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: raise Repairs for unresolved fields and unit mismatches
  custom_components/span_panel/__init__.py
  custom_components/span_panel/const.py
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/quality_scale.yaml
  custom_components/span_panel/schema_repairs.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_coordinator.py
  tests/test_schema_repairs.py
  tests/test_schema_validation.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: record affected entities from the entities themselves
  custom_components/span_panel/__init__.py
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/entity.py
  custom_components/span_panel/field_paths.py
  tests/test_coordinator.py
  tests/test_schema_repairs.py
  tests/test_setup_entry.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test: pin that undeclared and derived entities are not tracked
  tests/test_schema_repairs.py
Due: radon-complexity, radon-maintainability

fix: retry schema validation while the answer is unknown, and name residual readers
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/entity.py
  custom_components/span_panel/select.py
  custom_components/span_panel/sensor_circuit.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/switch.py
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_coordinator.py
  tests/test_schema_repairs.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: mark entities unavailable when their field is unresolved
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/entity.py
  custom_components/span_panel/sensor_base.py
  tests/test_schema_availability.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: evse_ev_connected declares evse.status instead of claiming derived
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/field_paths.py
  tests/test_field_path_introspection.py
  tests/test_schema_availability.py
Due: pylint-import-check, radon-complexity, radon-maintainability

chore: point editable sources at the base library worktree
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  pylint-import-check: any of: \.py$, but not: ^tests/.*|^scripts/.*
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$
