Repository SpanPanel/span: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-import-check, radon-complexity, radon-maintainability

Path conditions:
  pylint-import-check: any of: \.py$, but not: ^tests/.*|^scripts/.*
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$

feat: update frontend dist with graph settings side panel
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

fix: update frontend dist with full-width panel layout
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

fix: update frontend dist with proportional chart scaling
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

feat: update frontend dist with sub-device layout changes
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

feat: add sub-device horizon overrides to GraphHorizonManager
  custom_components/span_panel/graph_horizon.py
  tests/test_graph_horizon.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: register sub-device graph horizon services
  custom_components/span_panel/__init__.py
  custom_components/span_panel/services.yaml
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_graph_horizon_services.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: update frontend dist with sub-device horizon support
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

fix: resize sub-device charts when browser window changes width
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

fix: update frontend dist with header layout and chart fixes
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

add dashboard material
  README.md
  frontend.md
  images/config_flow.png
  images/fontend.png
  images/monitoring.png
Due: none

Add dashboard aterial
  README.md
Due: none

update CHANGELOG.md for span-panel-api bump
  CHANGELOG.md
Due: none

fix: translate untranslated service strings and correct type annotations
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  scripts/sync_translations.py
Due: radon-complexity, radon-maintainability

update the dist files
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

update .gitignore for docs
  .gitignore
Due: none

refactor: extract frontend.py from __init__.py
  custom_components/span_panel/__init__.py
  custom_components/span_panel/frontend.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: use deferred package imports in frontend.py for test patchability
  custom_components/span_panel/frontend.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor: extract migrations.py from __init__.py
  custom_components/span_panel/__init__.py
  custom_components/span_panel/migrations.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor: extract services.py from __init__.py
  custom_components/span_panel/__init__.py
  custom_components/span_panel/services.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor: extract id_builder.py from helpers.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/id_builder.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor: extract entity_resolver.py from helpers.py
  custom_components/span_panel/entity_resolver.py
  custom_components/span_panel/helpers.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor: extract threshold_evaluator.py from current_monitor.py
  custom_components/span_panel/current_monitor.py
  custom_components/span_panel/threshold_evaluator.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor: extract alert_dispatcher.py from current_monitor.py
  custom_components/span_panel/alert_dispatcher.py
  custom_components/span_panel/current_monitor.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor: extract grace_period.py from sensor_base.py
  custom_components/span_panel/grace_period.py
  custom_components/span_panel/sensor_base.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor: extract energy_dip.py from sensor_base.py
  custom_components/span_panel/energy_dip.py
  custom_components/span_panel/sensor_base.py
Due: pylint-import-check, radon-complexity, radon-maintainability

update dist files
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

fix: remove dead code from config flow
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/config_flow_options.py
  custom_components/span_panel/config_flow_validation.py
  tests/test_config_flow_validation.py
  tests/test_grace_period_option.py
  tests/test_snapshot_interval_option.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: config flow i18n, docs typos, and lint config
  .markdownlint-cli2.jsonc
  AGENTS.md
  custom_components/span_panel/config_flow.py
  frontend.md
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: handle detect_api_version errors, preserve tracebacks, fix typos
  README.md
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/sensor.py
  frontend.md
  images/frontend.png
  tests/test_sensor_platform.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: add reauth_confirm step for v1→v2 upgrade flow
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: show auth method menu directly in reauth flow
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

instruct agents to host plans in SpanPanel_Docs
  AGENTS.md
  bess-grid-management.md
Due: none

fix: remove return_response from void service calls in side panel, guard snapshot None
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
  custom_components/span_panel/services.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: add visual preview with mini charts to card picker
  custom_components/span_panel/frontend/dist/span-panel-card.js
Due: none

fix: seed monitor snapshot on enable, hide card monitoring toggle
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
  custom_components/span_panel/services.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: restore solar entity migration for v1.3.1 → v2.0.5 upgrades
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/migrations.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: return numeric dip attrs, harden sync_translations path display
  custom_components/span_panel/energy_dip.py
  scripts/sync_translations.py
  tests/test_energy_dip_compensation.py
Due: pylint-import-check, radon-complexity, radon-maintainability

update the dist files for frontend changes
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

fix: update dist with custom element registration guard
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none
