Repository SpanPanel/span: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-import-check, radon-complexity, radon-maintainability

pylint-import-check:
  name: pylint import-outside-toplevel check
  entry: poetry run pylint
  language: system
  args:
  - --disable=all
  - --enable=import-outside-toplevel
  - --score=no
  - custom_components/span_panel/
  pass_filenames: false

radon-complexity:
  name: radon complexity check
  entry: poetry run radon
  language: system
  args:
  - cc
  - --min=B
  - --show-complexity
  - custom_components/span_panel/
  pass_filenames: false

radon-maintainability:
  name: radon maintainability index
  entry: poetry run radon
  language: system
  args:
  - mi
  - --min=B
  - --show
  - custom_components/span_panel/
  pass_filenames: false

Add schema validation cross-check (Phase 1)
  CHANGELOG.md
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/schema_expectations.py
  custom_components/span_panel/schema_validation.py
  docs/dev/mqtt-sensor-topic.md
  docs/dev/schema_driven_changes.md
  tests/test_schema_validation.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Externalize simulator process
  .github/workflows/ci.yml
  custom_components/span_panel/__init__.py
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/button.py
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/config_flow_utils/__init__.py
  custom_components/span_panel/config_flow_utils/options.py
  custom_components/span_panel/config_flow_utils/simulation.py
  custom_components/span_panel/config_flow_utils/validation.py
  custom_components/span_panel/const.py
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/entity.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/manifest.json
  custom_components/span_panel/select.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/sensor_evse.py
  custom_components/span_panel/simulation_configs/migration_test_config.yaml
  custom_components/span_panel/simulation_configs/simple_test_config.yaml
  custom_components/span_panel/simulation_configs/simulation_config_32_circuit.yaml
  custom_components/span_panel/simulation_configs/simulation_config_40_circuit_with_battery.yaml
  custom_components/span_panel/simulation_configs/simulation_config_8_tab_workshop.yaml
  custom_components/span_panel/simulation_factory.py
  custom_components/span_panel/simulation_utils.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/switch.py
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  custom_components/span_panel/util.py
  tests/conftest.py
  tests/docs/simulation_test_documentation.md
  tests/providers/integration_data_provider.py
  tests/test_dps_and_bess.py
  tests/test_factories/span_panel_simulation_factory.py
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Update schema-driven changes plan with versioning model
  docs/dev/schema_driven_changes.md
Due: none

Delegate panel cloning to external simulator via WSS
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/const.py
  custom_components/span_panel/services.yaml
  custom_components/span_panel/simulation_generator.py
  custom_components/span_panel/simulation_utils.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
Due: pylint-import-check, radon-complexity, radon-maintainability

Add eBus panel clone design document for simulator
  docs/dev/simulator_panel_clone.md
Due: none

Cap span-panel-api dependency below 2.3.0
  custom_components/span_panel/manifest.json
Due: none

Pin span-panel-api to ==2.3.0 in manifest.json
  custom_components/span_panel/manifest.json
  poetry.lock
Due: none

Fix sync-dependencies to preserve exact version specifier from manifest
  .github/workflows/ci-simulation-example.yml
  .github/workflows/ci.yml
  scripts/sync-dependencies.py
Due: radon-complexity, radon-maintainability

Add python-socketio as dev dependency
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/const.py
  custom_components/span_panel/manifest.json
  custom_components/span_panel/simulation_utils.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  docs/dev/simulator_panel_clone.md
  poetry.lock
  pyproject.toml
Due: pylint-import-check, radon-complexity, radon-maintainability

Refactor simulation utils for modularity and correctness
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/simulation_utils.py
  custom_components/span_panel/simulator_profile_builder.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Use runtime_data for coordinator access in profile builder
  custom_components/span_panel/simulator_profile_builder.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Use single Socket.IO session for clone and profile delivery
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/simulation_utils.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Use recorder executor for statistics queries in profile builder
  custom_components/span_panel/simulator_profile_builder.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Fix profile builder: timestamp type, timezone, and outlier robustness
  custom_components/span_panel/simulator_profile_builder.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Bump version to 2.0.3 to force dependency re-resolution
  custom_components/span_panel/manifest.json
Due: none

Add export_circuit_manifest service for simulator add-on
  custom_components/span_panel/__init__.py
  custom_components/span_panel/services.yaml
  tests/test_circuit_manifest_service.py
Due: pylint-import-check, radon-complexity, radon-maintainability

bump versioon to 2.0.4
  custom_components/span_panel/manifest.json
Due: none

Add 2.0.3 changelog entry for dependency re-resolution fix
  CHANGELOG.md
Due: none

Register export_circuit_manifest in async_setup per HA core standard
  custom_components/span_panel/__init__.py
  tests/test_circuit_manifest_service.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Remove clone-to-simulation from options flow
  CHANGELOG.md
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/manifest.json
  custom_components/span_panel/simulation_utils.py
  custom_components/span_panel/simulator_profile_builder.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
Due: pylint-import-check, radon-complexity, radon-maintainability

Note the remoal of the simulation config flow export
  CHANGELOG.md
Due: none

Use configured panel host for MQTT broker connection
  custom_components/span_panel/__init__.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Add changelog entry for MQTT broker host resolution fix (#193)
  CHANGELOG.md
Due: none

bump span-panel-api to 2.3.1
  .github/workflows/ci.yml
  custom_components/span_panel/manifest.json
Due: none

Handle malformed mDNS httpPort and add http_port translation strings
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
Due: pylint-import-check, radon-complexity, radon-maintainability

Remove unused python-socketio dependency
  poetry.lock
  pyproject.toml
Due: none

Add Grid Power Sensor
  CHANGELOG.md
  README.md
  custom_components/span_panel/entity_summary.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/icons.json
  custom_components/span_panel/schema_expectations.py
  custom_components/span_panel/schema_validation.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  tests/test_schema_validation.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Add warning to readme and update changelog
  CHANGELOG.md
  README.md
Due: none

Add FQDN support to config flow validation
  .github/workflows/ci.yml
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/config_flow_utils/__init__.py
  custom_components/span_panel/config_flow_utils/validation.py
  custom_components/span_panel/const.py
  custom_components/span_panel/manifest.json
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  poetry.lock
Due: pylint-import-check, radon-complexity, radon-maintainability

Fix Grid Power sensor sign and misc cleanup
  README.md
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
Due: pylint-import-check, radon-complexity, radon-maintainability

Add FQDN registration changelog entry
  CHANGELOG.md
Due: none

Update README: power flow sensors are always available in eBus
  README.md
Due: none

Migrate from pre-commit to prek and add BESS documentation
  .github/copilot-instructions.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  bess-grid-management.md
  docs/developer.md
  docs/images/.gitignore
  docs/images/bess-topology-integrated.drawio
  docs/images/bess-topology-integrated.svg
  docs/images/bess-topology-non-integrated.drawio
  docs/images/bess-topology-non-integrated.svg
  prek.toml
  pyproject.toml
Due: none

Migrate from Poetry to uv
  .github/dependabot.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/developer.md
  docs/superpowers/plans/2026-03-20-poetry-to-uv-migration.md
  poetry.lock
  prek.toml
  pyproject.toml
  scripts/run-in-env.sh
  scripts/run_mypy.py
  scripts/sync-dependencies.py
  scripts/sync-ha-deps.py
  setup-hooks.sh
  uv.lock
Due: radon-complexity, radon-maintainability

Simplify setup-hooks.sh to always run uv sync
  setup-hooks.sh
Due: none

Reference SPAN Panel Simulator add-on and fix mypy pre-commit hook
  CHANGELOG.md
  README.md
  custom_components/span_panel/schema_validation.py
  prek.toml
Due: pylint-import-check, radon-complexity, radon-maintainability

Fix simulation migration retry, add service name, remove untranslated strings
  custom_components/span_panel/__init__.py
  custom_components/span_panel/services.yaml
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Move docs to root and images/, remove docs/ directory
  CHANGELOG.md
  README.md
  bess-grid-management.md
  custom_components/span_panel/schema_validation.py
  developer.md
  docs/dev/HA_core/ha_core_work_plan.md
  docs/dev/architecture.md
  docs/dev/developer_attribute_entity_renaming_migration.md
  docs/dev/dynamic_enum_options.md
  docs/dev/energy_dip_compensation.md
  docs/dev/evse_span_drive_support.md
  docs/dev/mqtt-sensor-topic.md
  docs/dev/schema_driven_changes.md
  docs/dev/statistics_spike_cleanup_proposal.md
  docs/images/.gitignore
  docs/superpowers/plans/2026-03-20-poetry-to-uv-migration.md
  images/bess-topology-integrated.drawio
  images/bess-topology-integrated.svg
  images/bess-topology-non-integrated.drawio
  images/bess-topology-non-integrated.svg
  v1-legacy.md
  websocket-api.md
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor: remove v1 API support, drop legacy auth token flow
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: add async_step_hassio for Supervisor Discovery from simulator add-on
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/config_flow_utils/__init__.py
  custom_components/span_panel/config_flow_utils/validation.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Path conditions:
  pylint-import-check: any of: \.py$, but not: ^tests/.*|^scripts/.*
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$
