Repository SpanPanel/span: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-import-check, radon-complexity, radon-maintainability

Path conditions:
  pylint-import-check: any of: \.py$, but not: ^tests/.*|^scripts/.*
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$

bump ha-synthetic-sensors
  .github/workflows/ci.yml
  custom_components/span_panel/manifest.json
  poetry.lock
Due: none

update energy sensors for string unknown
  custom_components/span_panel/yaml_templates/circuit_energy_consumed.yaml.txt
  custom_components/span_panel/yaml_templates/circuit_energy_produced.yaml.txt
  custom_components/span_panel/yaml_templates/panel_energy_consumed.yaml.txt
  custom_components/span_panel/yaml_templates/panel_energy_produced.yaml.txt
  custom_components/span_panel/yaml_templates/solar_consumed_energy.yaml.txt
  custom_components/span_panel/yaml_templates/solar_produced_energy.yaml.txt
Due: none

remove codecov
  .github/workflows/ci.yml
  .gitignore
  poetry.lock
  pyproject.toml
Due: none

Update README.md
  README.md
Due: none

run markdown locally only
  .pre-commit-config.yaml
  scripts/fix-markdown.sh
Due: none

fix translation files
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
Due: none

fix version i/o blocking
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/version.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix unused import
  custom_components/span_panel/version.py
Due: pylint-import-check, radon-complexity, radon-maintainability

add 1.0.4 sample storage
  tests/migration_storage/1_0_4/core.device_registry
  tests/migration_storage/1_0_4/core.entity_registry
Due: none

temp need logging removal
  custom_components/span_panel/helpers.py
  custom_components/span_panel/migration.py
  custom_components/span_panel/synthetic_named_circuits.py
  custom_components/span_panel/synthetic_sensors.py
  custom_components/span_panel/synthetic_solar.py
  docs/dev/version_2_migration_strategy.md
  tests/scripts/run_migration_test_suite.sh
  tests/scripts/test_migration_1_0_4_to_1_2_0.py
  tests/test_migration_1_0_10_to_1_2_0.py
  tests/test_migration_1_0_4_to_1_2_0.py
Due: pylint-import-check, radon-complexity, radon-maintainability

pin homeassistant version for custom component compatability
  poetry.lock
  pyproject.toml
Due: none

fix tests
  pytest.ini
  tests/conftest.py
  tests/migration_storage/1_0_4/core.device_registry
  tests/migration_storage/1_0_4/core.entity_registry
  tests/scripts/run_migration_test_suite.sh
  tests/scripts/test_migration_1_0_10_to_1_2_0.py
  tests/scripts/test_migration_1_0_4_to_1_2_0.py
  tests/test_circuit_control.py
  tests/test_entity_summary.py
  tests/test_helpers.py
  tests/test_migration_1_0_10_to_1_2_0.py
  tests/test_migration_1_0_4_to_1_2_0.py
  tests/test_panel_sensors.py
  tests/test_select.py
  tests/test_solar_configuration_simulator.py
  tests/test_solar_configuration_with_simulator.py
  tests/test_synthetic_solar.py
Due: radon-complexity, radon-maintainability

fix yaml generation and solar
  custom_components/span_panel/helpers.py
  custom_components/span_panel/migration.py
  custom_components/span_panel/select.py
  custom_components/span_panel/switch.py
  custom_components/span_panel/synthetic_named_circuits.py
  custom_components/span_panel/synthetic_sensors.py
  custom_components/span_panel/synthetic_solar.py
  custom_components/span_panel/synthetic_utils.py
  tests/helpers.py
Due: pylint-import-check, radon-complexity, radon-maintainability

replace migration registries
  tests/migration_storage/1_0_10/core.device_registry
  tests/migration_storage/1_0_10/core.entity_registry
  tests/migration_storage/1_0_4/core.device_registry
  tests/migration_storage/1_0_4/core.entity_registry
Due: none

fix 1.0.4 solar migration
  custom_components/span_panel/__init__.py
  custom_components/span_panel/migration.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Remove CodeFactor configuration - using ruff, flake8, and pylint instead
  .codefactor.yml
Due: none

fix linter errors
  .pylintrc
  custom_components/span_panel/migration.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Delete .codefactor.yml
  .codefactor.yml
Due: none

fix newline at EOF
  tests/migration_storage/1_0_10/core.device_registry
  tests/migration_storage/1_0_10/core.entity_registry
  tests/migration_storage/1_0_4/core.device_registry
  tests/migration_storage/1_0_4/core.entity_registry
Due: none

first non-persistent energy grace period
  custom_components/span_panel/yaml_templates/circuit_energy_consumed.yaml.txt
  custom_components/span_panel/yaml_templates/circuit_energy_produced.yaml.txt
  custom_components/span_panel/yaml_templates/panel_energy_consumed.yaml.txt
  custom_components/span_panel/yaml_templates/panel_energy_produced.yaml.txt
  custom_components/span_panel/yaml_templates/solar_consumed_energy.yaml.txt
  custom_components/span_panel/yaml_templates/solar_produced_energy.yaml.txt
  scripts/generate_complete_config.py
  tests/test_grace_period_integration.py
Due: radon-complexity, radon-maintainability

second non-persistent energy grace period
  custom_components/span_panel/yaml_templates/circuit_energy_consumed.yaml.txt
  custom_components/span_panel/yaml_templates/circuit_energy_produced.yaml.txt
  custom_components/span_panel/yaml_templates/panel_energy_consumed.yaml.txt
  custom_components/span_panel/yaml_templates/panel_energy_produced.yaml.txt
  custom_components/span_panel/yaml_templates/solar_consumed_energy.yaml.txt
  custom_components/span_panel/yaml_templates/solar_produced_energy.yaml.txt
Due: none

add net energy initial
  .pylintrc
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/synthetic_named_circuits.py
  custom_components/span_panel/synthetic_panel_circuits.py
  custom_components/span_panel/synthetic_solar.py
  custom_components/span_panel/yaml_templates/circuit_energy_net.yaml.txt
  custom_components/span_panel/yaml_templates/panel_energy_net.yaml.txt
  custom_components/span_panel/yaml_templates/solar_energy_net.yaml.txt
  scripts/generate_complete_config.py
  tests/test_synthetic_named_circuits.py
  tests/test_synthetic_solar.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Fix solar net sensors
  custom_components/span_panel/synthetic_solar.py
  custom_components/span_panel/yaml_templates/solar_net_energy.yaml.txt
  tests/test_synthetic_solar.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Add change log
  CHANGELOG.md
  README.md
Due: none

Add change log
  CHANGELOG.md
Due: none

update change log
  CHANGELOG.md
Due: none

fix options overwrite
  .github/workflows/ci.yml
  custom_components/span_panel/__init__.py
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/manifest.json
  custom_components/span_panel/sensor.py
  custom_components/span_panel/span_panel_api.py
  custom_components/span_panel/synthetic_named_circuits.py
  custom_components/span_panel/synthetic_panel_circuits.py
  custom_components/span_panel/synthetic_sensors.py
  custom_components/span_panel/synthetic_solar.py
  custom_components/span_panel/yaml_templates/circuit_energy_consumed.yaml.txt
  custom_components/span_panel/yaml_templates/circuit_energy_net.yaml.txt
  custom_components/span_panel/yaml_templates/circuit_energy_produced.yaml.txt
  custom_components/span_panel/yaml_templates/panel_energy_consumed.yaml.txt
  custom_components/span_panel/yaml_templates/panel_energy_net.yaml.txt
  custom_components/span_panel/yaml_templates/panel_energy_produced.yaml.txt
  custom_components/span_panel/yaml_templates/panel_status.yaml.txt
  custom_components/span_panel/yaml_templates/solar_consumed_energy.yaml.txt
  custom_components/span_panel/yaml_templates/solar_net_energy.yaml.txt
  custom_components/span_panel/yaml_templates/solar_produced_energy.yaml.txt
  poetry.lock
  tests/test_synthetic_solar.py
Due: pylint-import-check, radon-complexity, radon-maintainability

add net energy fallback for unavailable dependencies
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/yaml_templates/circuit_energy_net.yaml.txt
  custom_components/span_panel/yaml_templates/panel_energy_net.yaml.txt
  custom_components/span_panel/yaml_templates/solar_net_energy.yaml.txt
Due: pylint-import-check, radon-complexity, radon-maintainability

Update Change Log
  CHANGELOG.md
Due: none

Fix Solar Device Prefix
  custom_components/span_panel/manifest.json
  custom_components/span_panel/synthetic_solar.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix sign on power
  custom_components/span_panel/manifest.json
  custom_components/span_panel/sensor_definitions.py
Due: pylint-import-check, radon-complexity, radon-maintainability

bump span-panel-api
  .github/workflows/ci.yml
  poetry.lock
Due: none
