Repository SpanPanel/span: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-import-check, radon-complexity, radon-maintainability

Path conditions:
  pylint-import-check: any of: \.py$, but not: ^tests/.*|^scripts/.*
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$

fix(repairs): do not raise a Repair nothing the user owns is affected by
  custom_components/span_panel/schema_repairs.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_schema_repairs.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(repairs): notice entities that were added disabled
  custom_components/span_panel/__init__.py
  custom_components/span_panel/schema_repairs.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_new_entity_notice.py
  tests/test_setup_entry.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(repairs): state the observation, not a cause the trigger cannot establish
  custom_components/span_panel/schema_repairs.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_new_entity_notice.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(field-paths): assert every exemption's reason against both adapters
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/schema_validation.py
  tests/test_field_path_conformance.py
  tests/test_field_paths.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor(field-paths): derive residual paths from the entities that read them
  custom_components/span_panel/entity.py
  custom_components/span_panel/field_paths.py
  tests/test_field_path_conformance.py
  tests/test_field_path_introspection.py
  tests/test_field_paths.py
  tests/test_schema_repairs.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(field-paths): derive the recorder prefix from the value_fn annotation
  tests/test_field_path_introspection.py
Due: radon-complexity, radon-maintainability

feat(field-paths): say why a description is derived, and verify the reason
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/entity.py
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/sensor_definitions.py
  tests/test_dps_and_bess.py
  tests/test_field_path_conformance.py
  tests/test_field_path_introspection.py
  tests/test_field_paths.py
  tests/test_schema_availability.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(field-paths): pin the residual read no other entity class claims
  tests/test_schema_repairs.py
Due: radon-complexity, radon-maintainability

chore: pin the library and schema-1 at b5
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

feat(sensor): surface the shed forecast as two duration sensors
  CHANGELOG.md
  README.md
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/icons.json
  custom_components/span_panel/sensor.py
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/sensor_panel.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/adapter_fixtures.py
  tests/test_field_path_conformance.py
  tests/test_shed_forecast.py
  tests/test_unit_vocabulary.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(field-paths): degrade a schema-conditional entity like any other
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/entity.py
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/schema_validation.py
  custom_components/span_panel/sensor_definitions.py
  tests/test_field_path_conformance.py
  tests/test_field_path_introspection.py
  tests/test_field_paths.py
  tests/test_schema_availability.py
  tests/test_schema_repairs.py
  tests/test_schema_validation.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(declarations): fail when the panel declares what nothing reads
  custom_components/span_panel/field_paths.py
  tests/fixtures/unread_declarations_baseline.json
  tests/test_declared_but_unread.py
  tests/test_field_path_conformance.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(sensor): surface what the BESS reports about itself
  CHANGELOG.md
  README.md
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/icons.json
  custom_components/span_panel/sensor.py
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/fixtures/unread_declarations_baseline.json
  tests/test_bess_telemetry.py
  tests/test_enum_sensor_options.py
  tests/test_field_path_conformance.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(sensor): surface the panel's power control system
  CHANGELOG.md
  README.md
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/icons.json
  custom_components/span_panel/sensor.py
  custom_components/span_panel/sensor_circuit.py
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/sensor_panel.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/fixtures/unread_declarations_baseline.json
  tests/test_declared_but_unread.py
  tests/test_enum_sensor_options.py
  tests/test_field_path_conformance.py
  tests/test_field_path_introspection.py
  tests/test_pcs.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(pcs): pin that only one PCS sensor carries the arbitration
  tests/test_pcs.py
Due: radon-complexity, radon-maintainability

feat(binary_sensor): surface the panel's link to each DER it feeds
  CHANGELOG.md
  README.md
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/icons.json
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/fixtures/unread_declarations_baseline.json
  tests/test_der_link_health.py
  tests/test_field_path_conformance.py
  tests/test_field_path_introspection.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(coordinator): derive capabilities once, so an upgrade actually reloads
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/helpers.py
  tests/test_coordinator.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(sensor): give the panel its own identity, and give the SSID back
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/sensor_panel.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  custom_components/span_panel/util.py
  tests/fixtures/README.md
  tests/fixtures/schema_one_tree.json
  tests/fixtures/schema_one_tree_batteryless.json
  tests/fixtures/schema_one_tree_no_pv.json
  tests/fixtures/unread_declarations_baseline.json
  tests/test_evse_entities.py
  tests/test_field_path_conformance.py
  tests/test_metadata_sweep.py
  tests/test_promoted_sensors.py
  tests/test_sensor_platform.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(number): give each charger the charge-current limit its panel declares
  CHANGELOG.md
  README.md
  custom_components/span_panel/__init__.py
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/icons.json
  custom_components/span_panel/number.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/fixtures/unread_declarations_baseline.json
  tests/test_evse_charge_limit.py
  tests/test_field_path_conformance.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(device): give the solar inverter a card of its own, and move its entities to it
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/entity_resolver.py
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/sensor_panel.py
  custom_components/span_panel/services.py
  custom_components/span_panel/util.py
  custom_components/span_panel/websocket.py
  tests/fixtures/unread_declarations_baseline.json
  tests/test_device_links.py
  tests/test_field_path_conformance.py
  tests/test_pv_device.py
  tests/test_sensor_entities.py
  tests/test_websocket.py
Due: pylint-import-check, radon-complexity, radon-maintainability

docs(changelog): record the two catch-up tasks that shipped without an entry
  CHANGELOG.md
Due: none

Revert "feat(device): give the solar inverter a card of its own, and move its entities to it"
  CHANGELOG.md
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/entity_resolver.py
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/sensor_panel.py
  custom_components/span_panel/services.py
  custom_components/span_panel/util.py
  custom_components/span_panel/websocket.py
  tests/fixtures/unread_declarations_baseline.json
  tests/test_device_links.py
  tests/test_field_path_conformance.py
  tests/test_pv_device.py
  tests/test_sensor_entities.py
  tests/test_websocket.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(device): give the solar inverter a card of its own
  CHANGELOG.md
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/sensor_panel.py
  custom_components/span_panel/services.py
  custom_components/span_panel/util.py
  custom_components/span_panel/websocket.py
  tests/fixtures/unread_declarations_baseline.json
  tests/test_device_links.py
  tests/test_field_path_conformance.py
  tests/test_pv_device.py
  tests/test_sensor_entities.py
  tests/test_websocket.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(strings): say what the new-entity count actually counts
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
Due: none

feat(binary_sensor): put the Wi-Fi network name on the Wi-Fi link
  CHANGELOG.md
  README.md
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/sensor_panel.py
  tests/test_metadata_sweep.py
  tests/test_schema_repairs.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor(sensor): move the Wi-Fi network name rather than duplicate it
  CHANGELOG.md
  README.md
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/sensor_panel.py
  tests/test_field_path_conformance.py
  tests/test_metadata_sweep.py
  tests/test_panel_sensors.py
  tests/test_schema_repairs.py
Due: pylint-import-check, radon-complexity, radon-maintainability

docs(developer): explain the declared-but-unread gate
  developer.md
Due: none

feat(diagnostics): carry what the panel declares and this integration ignores
  custom_components/span_panel/diagnostics.py
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/schema_validation.py
  developer.md
  pyproject.toml
  tests/adapter_fixtures.py
  tests/test_diagnostics.py
  tests/test_field_path_conformance.py
  tests/test_pv_device.py
  tests/test_schema_discovery.py
  uv.lock
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(adoption): surface devices this integration models nothing for
  CHANGELOG.md
  custom_components/span_panel/adoption.py
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/diagnostics.py
  custom_components/span_panel/schema_repairs.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/util.py
  tests/fixtures/README.md
  tests/test_adoption.py
  tests/test_diagnostics.py
  websocket-api.md
Due: pylint-import-check, radon-complexity, radon-maintainability

docs(developer): explain device-scoped adoption and the rules that bound it
  developer.md
Due: none

feat(adoption): build the controls, authorised by the snapshot not by arguments
  CHANGELOG.md
  custom_components/span_panel/adoption.py
  custom_components/span_panel/diagnostics.py
  custom_components/span_panel/manifest.json
  custom_components/span_panel/number.py
  custom_components/span_panel/select.py
  custom_components/span_panel/switch.py
  developer.md
  pyproject.toml
  tests/test_adoption.py
  uv.lock
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(additions): announce added entities in a notification that names them
  CHANGELOG.md
  custom_components/span_panel/__init__.py
  custom_components/span_panel/additions.py
  custom_components/span_panel/adoption.py
  custom_components/span_panel/schema_repairs.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  developer.md
  tests/test_adoption.py
  tests/test_new_entity_announcement.py
  tests/test_new_entity_notice.py
  tests/test_setup_entry.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(adoption): build adopted unique ids in the integration's own grammar
  custom_components/span_panel/adoption.py
  tests/test_adoption.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(id_builder): close the suffix mappings against silent id moves
  custom_components/span_panel/id_builder.py
  developer.md
  tests/test_suffix_mappings_are_closed.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(adoption): report whether an adopted device is proxied by a peer
  CHANGELOG.md
  custom_components/span_panel/diagnostics.py
  developer.md
  tests/test_adoption.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(sensors): disable the five unreliable panel readings, withdraw the sixth
  CHANGELOG.md
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/icons.json
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_bess_telemetry.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(sensors): restore bess_meter_power, withdrawn on a premise the capture disproves
  CHANGELOG.md
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/icons.json
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_bess_telemetry.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(fixtures): read the adapter's published capture instead of vendoring it
  tests/adapter_fixtures.py
  tests/fixtures/schema_one_tree.json
  tests/fixtures/schema_one_tree_batteryless.json
  tests/fixtures/schema_one_tree_no_pv.json
Due: radon-complexity, radon-maintainability

docs(sensors): the shared battery convention is discharge-positive, measured
  custom_components/span_panel/sensor_definitions.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(additions): tell sub-device entities apart in the notification
  custom_components/span_panel/additions.py
  tests/test_new_entity_announcement.py
Due: pylint-import-check, radon-complexity, radon-maintainability
