Repository SpanPanel/span: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-import-check, radon-complexity, radon-maintainability

pylint-import-check:
  name: pylint import-outside-toplevel check
  entry: poetry run pylint
  language: system
  args:
  - --disable=all
  - --enable=import-outside-toplevel
  - --score=no
  - custom_components/span_panel/
  pass_filenames: false

radon-complexity:
  name: radon complexity check
  entry: poetry run radon
  language: system
  args:
  - cc
  - --min=B
  - --show-complexity
  - custom_components/span_panel/
  pass_filenames: false

radon-maintainability:
  name: radon maintainability index
  entry: poetry run radon
  language: system
  args:
  - mi
  - --min=B
  - --show
  - custom_components/span_panel/
  pass_filenames: false

feat: resolve mains legs to entity_ids in monitoring status
  custom_components/span_panel/current_monitor.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: services accept entity_ids instead of internal circuit UUIDs
  custom_components/span_panel/__init__.py
  custom_components/span_panel/current_monitor.py
  custom_components/span_panel/services.yaml
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  tests/test_current_monitor_services.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: add pre-commit hook to sync and validate translation files
  custom_components/span_panel/translations/en.json
  prek.toml
  scripts/sync_translations.py
Due: radon-complexity, radon-maintainability

feat: complete all translations and enforce completeness in pre-commit
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  scripts/sync_translations.py
Due: radon-complexity, radon-maintainability

chore: bump homeassistant to 2026.3.4 and test dependencies
  pyproject.toml
  requirements_test.txt
  uv.lock
Due: none

fix: limit monitoring service entity selectors to current sensors
  custom_components/span_panel/services.yaml
Due: none

fix: remove device_class from breaker rating sensors and disable by default
  custom_components/span_panel/sensor_definitions.py
  tests/test_promoted_sensors.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: remove device_class from static nameplate capacity sensors
  custom_components/span_panel/sensor_definitions.py
  tests/test_promoted_sensors.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: suppress monitoring notifications during HA startup
  custom_components/span_panel/current_monitor.py
  tests/test_current_monitor.py
Due: pylint-import-check, radon-complexity, radon-maintainability

docs: add integration panel dashboard design spec
  docs/superpowers/specs/2026-03-29-integration-panel-design.md
Due: none

docs: add multi-panel support to integration panel spec
  docs/superpowers/specs/2026-03-29-integration-panel-design.md
Due: none

docs: add implementation plans for integration panel
  docs/superpowers/plans/2026-03-29-integration-panel-backend.md
  docs/superpowers/plans/2026-03-29-span-card-enhancements.md
Due: none

docs: add topology enhancement and storage migration plan
  docs/superpowers/plans/2026-03-29-span-card-enhancements.md
  docs/superpowers/plans/2026-03-29-topology-and-storage-migration.md
Due: none

feat: add panel_entities to topology response for rename-safe entity lookup
  custom_components/span_panel/websocket.py
  tests/test_topology_panel_entities.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: add get/set_global_settings to CurrentMonitor for storage-backed global monitoring config
  custom_components/span_panel/__init__.py
  custom_components/span_panel/current_monitor.py
  custom_components/span_panel/services.yaml
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_current_monitor.py
  tests/test_global_monitoring_service.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor: remove monitoring options from config flow (managed via services)
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/config_flow_options.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_current_monitor_options.py
Due: pylint-import-check, radon-complexity, radon-maintainability

chore: add span-card frontend dist files for panel registration
  custom_components/span_panel/frontend/README.md
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

feat: add span-card submodule and register sidebar panel
  .gitmodules
  custom_components/span_panel/__init__.py
  custom_components/span_panel/frontend/README.md
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
  tests/conftest.py
  tests/test_panel_registration.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: dashboard backend fixes for monitoring bootstrap and entity resolution
  custom_components/span_panel/__init__.py
  custom_components/span_panel/current_monitor.py
  custom_components/span_panel/websocket.py
  tests/test_topology_panel_entities.py
Due: pylint-import-check, radon-complexity, radon-maintainability

docs: add frontend submodule permitted operations to AGENTS.md
  AGENTS.md
Due: none

ignore AI artifacts
  .gitignore
Due: none

docs: add translation workflow rule to AGENTS.md
  AGENTS.md
Due: none

feat: panel sidebar visibility settings and monitoring fixes
  custom_components/span_panel/__init__.py
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/config_flow_options.py
  custom_components/span_panel/const.py
  custom_components/span_panel/current_monitor.py
  custom_components/span_panel/services.yaml
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_panel_registration.py
  tests/test_upgrade_scenarios.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: monitoring status and override cleanup
  custom_components/span_panel/current_monitor.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor: replace submodule with build script for frontend
  .gitmodules
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
  scripts/build-frontend.sh
Due: none

docs: add development guide and improve build-frontend script
  docs/development.md
  scripts/build-frontend.sh
Due: none

docs: consolidate developer docs into developer.md
  developer.md
  docs/development.md
Due: none

fix: sidebar monitoring toggle not persisting disabled state
  custom_components/span_panel/current_monitor.py
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: global monitoring settings not propagating to non-override circuits
  custom_components/span_panel/__init__.py
  custom_components/span_panel/frontend/dist/span-panel.js
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: multi-panel monitoring support and cooldown per-circuit overrides
  custom_components/span_panel/__init__.py
  custom_components/span_panel/current_monitor.py
  custom_components/span_panel/frontend/dist/span-panel.js
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: sidebar cooldown editable and grid state translation
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

feat: add notification settings to monitoring dashboard
  AGENTS.md
  custom_components/span_panel/__init__.py
  custom_components/span_panel/const.py
  custom_components/span_panel/current_monitor.py
  custom_components/span_panel/frontend/dist/span-panel.js
  custom_components/span_panel/options.py
  custom_components/span_panel/services.yaml
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_current_monitor.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: update frontend dist with i18n support
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

add cat to allowed commands
  AGENTS.md
Due: none

exapand allowed actions to cat
  AGENTS.md
Due: none

clarify frontend dependency setup
  developer.md
Due: none

update for monitoring features
  CHANGELOG.md
Due: none

remove unecessary monitoring startup language
  CHANGELOG.md
Due: none

fix: update frontend dist with W/A chart toggle fix
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

docs: add graph time horizon design spec and implementation plan
  docs/superpowers/plans/2026-03-30-graph-time-horizon.md
  docs/superpowers/specs/2026-03-30-graph-time-horizon-design.md
Due: none

Path conditions:
  pylint-import-check: any of: \.py$, but not: ^tests/.*|^scripts/.*
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$
