Repository SpanPanel/span: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-import-check, radon-complexity, radon-maintainability

pylint-import-check:
  name: pylint import-outside-toplevel check
  entry: poetry run pylint
  language: system
  args:
  - --disable=all
  - --enable=import-outside-toplevel
  - --score=no
  - custom_components/span_panel/
  pass_filenames: false

radon-complexity:
  name: radon complexity check
  entry: poetry run radon
  language: system
  args:
  - cc
  - --min=B
  - --show-complexity
  - custom_components/span_panel/
  pass_filenames: false

radon-maintainability:
  name: radon maintainability index
  entry: poetry run radon
  language: system
  args:
  - mi
  - --min=B
  - --show
  - custom_components/span_panel/
  pass_filenames: false

feat: add GraphHorizonManager with storage persistence and tests
  custom_components/span_panel/const.py
  custom_components/span_panel/graph_horizon.py
  tests/test_graph_horizon.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: register graph horizon service calls and read endpoint
  custom_components/span_panel/__init__.py
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/services.yaml
  tests/test_graph_horizon_services.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: update frontend dist with graph time horizon feature
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

fix: update frontend dist with standalone card graph horizon fixes
  custom_components/span_panel/frontend/dist/span-panel-card.js
Due: none

fix: update frontend dist with Y-axis precision fix
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

fix: update frontend dist with Y-axis decimal label fix
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

feat: add 1-week graph horizon scale and update frontend dist
  custom_components/span_panel/const.py
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
  custom_components/span_panel/services.yaml
Due: pylint-import-check, radon-complexity, radon-maintainability

Remove dead code from helpers.py and config_flow_options.py, add vulture
  custom_components/span_panel/config_flow_options.py
  custom_components/span_panel/helpers.py
  pyproject.toml
  tests/test_helpers.py
  tests/test_tabs_attribute.py
  uv.lock
Due: pylint-import-check, radon-complexity, radon-maintainability

bump span-panel-api to 2.4.2 and span-panel-simulator to 1.0.10
  custom_components/span_panel/manifest.json
  pyproject.toml
Due: none

Add vulture dead code check to pre-commit hooks
  prek.toml
Due: none

fix: parenthesize except clause for multi-exception catch
  custom_components/span_panel/config_flow_validation.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: add http to manifest dependencies
  custom_components/span_panel/manifest.json
Due: none

fix: add all component dependencies to manifest
  custom_components/span_panel/manifest.json
Due: none

fix: sort manifest keys alphabetically per hassfest
  custom_components/span_panel/manifest.json
Due: none

fix: update frontend dist with statistics timestamp fix
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

fix: add cache busting to frontend panel URL
  custom_components/span_panel/__init__.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: address PR review feedback from Copilot
  CHANGELOG.md
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  custom_components/span_panel/websocket.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: add always_on and priority to websocket topology response
  custom_components/span_panel/websocket.py
  tests/test_websocket.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: update frontend dist with priority icon rendering
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

fix: move frontend file hash to executor to avoid blocking event loop
  custom_components/span_panel/__init__.py
  tests/test_panel_registration.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: resolve unawaited coroutine warnings in tests
  tests/test_current_monitor.py
  tests/test_graph_horizon.py
  tests/test_graph_horizon_services.py
Due: radon-complexity, radon-maintainability

feat: update frontend dist with segmented horizon bar
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

bump span-panel-api version
  custom_components/span_panel/manifest.json
Due: none

bump span-panel-api version
  pyproject.toml
Due: none

feat: adopt relay_state_target and priority_target from span-panel-api v2.5.0
  custom_components/span_panel/diagnostics.py
  custom_components/span_panel/select.py
  custom_components/span_panel/switch.py
  custom_components/span_panel/websocket.py
  tests/factories.py
  tests/test_circuit_control.py
  tests/test_diagnostics.py
  uv.lock
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: use battery icon for never shedding priority
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

feat: update frontend dist with shedding priority legend
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

ignore ai tools
  .gitignore
  docs/superpowers/plans/2026-03-29-current-monitoring.md
  docs/superpowers/plans/2026-03-29-integration-panel-backend.md
  docs/superpowers/plans/2026-03-29-span-card-enhancements.md
  docs/superpowers/plans/2026-03-29-topology-and-storage-migration.md
  docs/superpowers/plans/2026-03-30-graph-time-horizon.md
  docs/superpowers/specs/2026-03-29-current-monitoring-design.md
  docs/superpowers/specs/2026-03-29-integration-panel-design.md
  docs/superpowers/specs/2026-03-30-graph-time-horizon-design.md
Due: none

Update frontend dist with lifecycle visibility fixes
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

fix: add trailing newline to manifest.json
  custom_components/span_panel/manifest.json
Due: none

update developer artifacts
  .env.example
  .gitignore
  developer.md
Due: none

bump version to v2.5.1
  uv.lock
Due: none

bump span-panel-api to 2.5.1
  custom_components/span_panel/manifest.json
  pyproject.toml
Due: none

feat: update frontend dist with HA native panel layout
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

fix: update frontend dist with chart refresh and registration fixes
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

add fixed switch bound
  CHANGELOG.md
Due: none

format and ammend devloper.md for .env
  developer.md
Due: none

Auto-register span-panel-card as a Lovelace resource from integration static path
  custom_components/span_panel/__init__.py
  tests/test_panel_registration.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: update frontend dist with responsive layout fix
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

fix: update frontend dist with flex-wrap responsive header
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

Path conditions:
  pylint-import-check: any of: \.py$, but not: ^tests/.*|^scripts/.*
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$
