Repository SpanPanel/span: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-import-check, radon-complexity, radon-maintainability

Path conditions:
  pylint-import-check: any of: \.py$, but not: ^tests/.*|^scripts/.*
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$

update the changelog for the 2.0.5 release
  CHANGELOG.md
Due: none

fix: add missing cooldown_duration_m to service UI and use UTC-aware datetimes
  custom_components/span_panel/grace_period.py
  custom_components/span_panel/sensor_base.py
  custom_components/span_panel/services.yaml
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_grace_period_restoration.py
  tests/test_sensor_entities.py
Due: pylint-import-check, radon-complexity, radon-maintainability

update dist frontend files
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

refactor: unify notification targets and add test notification service
  custom_components/span_panel/alert_dispatcher.py
  custom_components/span_panel/current_monitor.py
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
  custom_components/span_panel/options.py
  custom_components/span_panel/services.py
  custom_components/span_panel/services.yaml
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  frontend.md
  tests/test_current_monitor.py
  tests/test_global_monitoring_service.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: update dist with panel shell rebuild after browser backgrounding
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

Add PR review instructions
  .github/instructions/*.instructions.md
Due: none

fix: address Copilot review feedback for docstring and import path
  custom_components/span_panel/alert_dispatcher.py
  custom_components/span_panel/services.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: add and format GitHub Copilot review instructions
  .github/instructions/*.instructions.md
Due: none

fix: resolve monitoring status key mismatch with frontend lookup
  custom_components/span_panel/current_monitor.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Format changelog for 2.0.5 release
  CHANGELOG.md
Due: none

feat: add {local_time} template variable to alert notifications
  custom_components/span_panel/alert_dispatcher.py
  custom_components/span_panel/frontend/dist/span-panel.js
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: include {local_time} in default notification message template
  custom_components/span_panel/alert_dispatcher.py
  custom_components/span_panel/const.py
  custom_components/span_panel/frontend/dist/span-panel.js
Due: pylint-import-check, radon-complexity, radon-maintainability

update monitoring docs
  frontend.md
  images/monitoring.png
Due: none

update dist for frontend code
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

restore BESS deep dive
  bess-grid-management.md
Due: none

bump stub and custom integration test for HA
  pyproject.toml
  uv.lock
Due: none

use step interpolation for chart fidelity, linear for continuous signals
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

add changelog entry for 2.0.6 graph fidelity fix
  CHANGELOG.md
Due: none

fix: handle missing circuits in partial MQTT snapshots
  custom_components/span_panel/select.py
  custom_components/span_panel/sensor_circuit.py
  tests/test_select.py
  tests/test_sensor_entities.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor: extract shared circuit data source lookup and refine changelog
  CHANGELOG.md
  custom_components/span_panel/sensor_circuit.py
Due: pylint-import-check, radon-complexity, radon-maintainability

bump span-panel-api to 2.5.2
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

bump version to 2.0.6
  custom_components/span_panel/manifest.json
Due: none

bump pytest-homeassistant-custom-component from 0.13.320 to 0.13.322
  pyproject.toml
  uv.lock
Due: none

bump span-panel-api version to 2.5.3
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

add temporary script for fix spikes
  scripts/fix_energy_spike_statistics.py
Due: radon-complexity, radon-maintainability

reeword the readme to avoid overlap.
  README.md
Due: none

bump span-panel-api to 2.5.4
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

update change log
  CHANGELOG.md
Due: none

deps: sync HA core to 2026.4.2 and group coupled deps
  .github/dependabot.yml
  pyproject.toml
  uv.lock
Due: none

fix: update frontend bundles to LitElement (span-card 0.9.1)
  CHANGELOG.md
  custom_components/span_panel/frontend.py
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: pylint-import-check, radon-complexity, radon-maintainability

build: update frontend bundles (loading state during discovery)
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

build: sync frontend bundle
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

fix: restore cache_headers=True, hash-based cache busting is sufficient
  custom_components/span_panel/frontend.py
Due: pylint-import-check, radon-complexity, radon-maintainability

update the lock file
  uv.lock
Due: none

build: sync frontend bundles (panel reload fallback)
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

build: sync frontend bundles (strip source map refs)
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

Revert "build: sync frontend bundles (strip source map refs)"
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

build: sync frontend bundles (span-card 0.9.2), update changelog
  CHANGELOG.md
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

Update frontend dist: XSS and error-handling fixes
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none
