Repository SpanPanel/span: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-import-check, radon-complexity, radon-maintainability

Path conditions:
  pylint-import-check: any of: \.py$, but not: ^tests/.*|^scripts/.*
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$

docs: wrap the 2.1.1 changelog to the markdown line limit
  CHANGELOG.md
Due: none

fix(curation): warn statistics_removed whenever a save leaves no state class
  custom_components/span_panel/websocket_adopted.py
  tests/test_websocket_adopted.py
  websocket-api.md
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(curation): report stored curation in diagnostics
  custom_components/span_panel/diagnostics.py
  tests/test_diagnostics.py
Due: pylint-import-check, radon-complexity, radon-maintainability

chore(release): 2.1.1b1 on span-panel-api 3.4.0
  custom_components/span_panel/manifest.json
  pyproject.toml
Due: none

docs: curation of adopted entities
  CHANGELOG.md
  README.md
  developer.md
Due: none

security(discovery): probe a pinned entry's configured host over its pin
  custom_components/span_panel/config_flow.py
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(curation): ship the Adopted tab frontend
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
  frontend.md
Due: none

chore(deps): span-panel-api 3.4.1
  custom_components/span_panel/manifest.json
  pyproject.toml
  requirements_test.txt
Due: none

chore(release): 2.1.1b2 on span-panel-api 3.4.1
  custom_components/span_panel/manifest.json
  pyproject.toml
Due: none

docs: the Adopted tab edits unit and precision, not area
  README.md
Due: none

docs: one changelog sentence for #264, as a user reads it
  CHANGELOG.md
Due: none

chore(release): 2.1.1
  custom_components/span_panel/manifest.json
  pyproject.toml
Due: none

chore(release): 2.1.1b3
  custom_components/span_panel/manifest.json
  pyproject.toml
Due: none

fix(curation): numeric readings parse by declared datatype, and device classes match it
  custom_components/span_panel/adoption.py
  custom_components/span_panel/curation.py
  custom_components/span_panel/extension.py
  custom_components/span_panel/util.py
  tests/test_adoption.py
  tests/test_curation.py
  tests/test_extension_entities.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(curation): sync the icon-less editor; docs follow
  README.md
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
  developer.md
  frontend.md
Due: none

chore(release): 2.1.1b4
  custom_components/span_panel/manifest.json
  pyproject.toml
Due: none

style: two blank lines after declares_a_number, as ruff format asks
  custom_components/span_panel/util.py
Due: pylint-import-check, radon-complexity, radon-maintainability

docs: repair README markup and normalize prose to US spelling
  CHANGELOG.md
  README.md
  developer.md
  developer_entity_id_and_name_handling.md
  frontend.md
  websocket-api.md
Due: none

docs: fold the Adopted tab entry into the 2.1.1 changelog
  CHANGELOG.md
Due: none

chore(deps): relock against the pinned Home Assistant and library releases
  uv.lock
Due: none

fix(scripts): make a nested worktree resolve the library checkout
  scripts/check-library-path.py
  setup-hooks.sh
Due: radon-complexity, radon-maintainability

docs: troubleshoot the Adopted tab missing in the Favorites view
  README.md
Due: none

docs: rewrite the Security section for accuracy and plain language
  CHANGELOG.md
  README.md
Due: none

fix(registry): move off the device registry's multi-entry APIs
  CHANGELOG.md
  custom_components/span_panel/adoption.py
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/extension.py
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
  custom_components/span_panel/number.py
  custom_components/span_panel/select.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/switch.py
  custom_components/span_panel/websocket.py
  custom_components/span_panel/websocket_adopted.py
  custom_components/span_panel/websocket_panel.py
  developer.md
  tests/test_adoption.py
  tests/test_extension_entities.py
  tests/test_init_helpers.py
  tests/test_platform_entry_scope.py
  tests/test_recreate_entity_ids.py
  tests/test_websocket.py
  tests/test_websocket_adopted.py
  tests/test_websocket_panel.py
  websocket-api.md
Due: pylint-import-check, radon-complexity, radon-maintainability

build(frontend): sync dist bundle with the empty sub-device skip
  CHANGELOG.md
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

chore(release): 2.1.2b1
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

chore(release): 2.1.2
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

fix(registry): keep child devices out of the panel and sub-device checks
  custom_components/span_panel/additions.py
  custom_components/span_panel/services.py
  tests/test_adoption.py
  tests/test_favorites_service.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: return the rotated passphrase from rotate_credentials; gate the GFE override on the battery link
  CHANGELOG.md
  README.md
  custom_components/span_panel/__init__.py
  custom_components/span_panel/button.py
  custom_components/span_panel/manifest.json
  custom_components/span_panel/services.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  pyproject.toml
  requirements_test.txt
  tests/factories.py
  tests/test_button.py
  tests/test_declared_but_unread.py
  tests/test_panel_ca_pinning.py
  tests/test_rotate_credentials_service.py
  tests/test_setup_entry.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: address review: serialize rotations, recovery advice, GFE gate, revert pins
  CHANGELOG.md
  README.md
  custom_components/span_panel/__init__.py
  custom_components/span_panel/button.py
  custom_components/span_panel/manifest.json
  custom_components/span_panel/services.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  pyproject.toml
  requirements_test.txt
  tests/test_button.py
  tests/test_rotate_credentials_service.py
Due: pylint-import-check, radon-complexity, radon-maintainability

style: ruff format services.py
  custom_components/span_panel/services.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: rotate_credentials rotates a v2 entry that is not loaded
  CHANGELOG.md
  README.md
  custom_components/span_panel/services.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_rotate_credentials_service.py
Due: pylint-import-check, radon-complexity, radon-maintainability

docs(changelog): credit @dcj for #277
  CHANGELOG.md
Due: none

chore(deps): require span-panel-api 3.5.0 and span-panel-api-schema-1 1.1.4
  custom_components/span_panel/manifest.json
  pyproject.toml
  requirements_test.txt
Due: none

chore(release): 2.1.2b2
  CHANGELOG.md
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

build(deps): pair the HA test harness with Home Assistant 2026.9.4
  pyproject.toml
  requirements_test.txt
  uv.lock
Due: none

feat: support SPAN firmware r202639
  CHANGELOG.md
  README.md
  custom_components/span_panel/__init__.py
  custom_components/span_panel/additions.py
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/config_flow_validation.py
  custom_components/span_panel/const.py
  custom_components/span_panel/curation.py
  custom_components/span_panel/entity_resolver.py
  custom_components/span_panel/extension.py
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/id_builder.py
  custom_components/span_panel/number.py
  custom_components/span_panel/pv_inverter_layout.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/sensor_panel.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  custom_components/span_panel/util.py
  tests/test_bess_telemetry.py
  tests/test_config_flow_validation.py
  tests/test_evse_charge_limit.py
  tests/test_extension_entities.py
  tests/test_extension_ids.py
  tests/test_field_path_conformance.py
  tests/test_field_path_introspection.py
  tests/test_promoted_sensors.py
  tests/test_pv_device.py
  tests/test_pv_inverters.py
  tests/test_schema_discovery.py
  tests/test_sensor_entities.py
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(security): default control without a logged-in user to off for new installs
  CHANGELOG.md
  README.md
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/config_flow_options.py
  custom_components/span_panel/control_gate.py
  custom_components/span_panel/migrations.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_control_gate.py
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(security): tidy the contextless-control default change
  CHANGELOG.md
  custom_components/span_panel/control_gate.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/pt.json
  tests/test_control_lock_state.py
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability
