Repository SpanPanel/span: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-import-check, radon-complexity, radon-maintainability

pylint-import-check:
  name: pylint import-outside-toplevel check
  entry: poetry run pylint
  language: system
  args:
  - --disable=all
  - --enable=import-outside-toplevel
  - --score=no
  - custom_components/span_panel/
  pass_filenames: false

radon-complexity:
  name: radon complexity check
  entry: poetry run radon
  language: system
  args:
  - cc
  - --min=B
  - --show-complexity
  - custom_components/span_panel/
  pass_filenames: false

radon-maintainability:
  name: radon maintainability index
  entry: poetry run radon
  language: system
  args:
  - mi
  - --min=B
  - --show
  - custom_components/span_panel/
  pass_filenames: false

refactor(notices): the firmware upgrade is a notification, not a repair
  custom_components/span_panel/__init__.py
  custom_components/span_panel/additions.py
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/notices.py
  custom_components/span_panel/schema_repairs.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_new_entity_announcement.py
  tests/test_notices.py
  tests/test_schema_repairs.py
  tests/test_schema_upgrade_notice.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(additions,notices): adopted entities are switched off, and a bad store file is not fatal
  custom_components/span_panel/additions.py
  custom_components/span_panel/adoption.py
  custom_components/span_panel/notices.py
  requirements_test.txt
  tests/test_new_entity_announcement.py
  tests/test_notices.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(sensor): the grid power sensor says whether it is metering the grid
  custom_components/span_panel/diagnostics.py
  custom_components/span_panel/sensor_panel.py
  tests/factories.py
  tests/test_diagnostics.py
  tests/test_sensor_entities.py
  uv.lock
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: hand the panel client Home Assistant's shared HTTP client
  custom_components/span_panel/__init__.py
  custom_components/span_panel/manifest.json
  pyproject.toml
  requirements_test.txt
  tests/test_setup_entry.py
  uv.lock
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(scripts): make the dependency sync actually match a version
  scripts/sync-dependencies.py
  tests/test_dependency_sync.py
Due: radon-complexity, radon-maintainability

chore: declare 2.1.0b1, so the version reads as the beta it is
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

chore: 2.1.0b2, because b1 was cut from the wrong branch
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

feat(diagnostics): report the entity registry, because the UI will not
  custom_components/span_panel/diagnostics.py
  tests/test_diagnostics.py
Due: pylint-import-check, radon-complexity, radon-maintainability

docs(changelog): one 2.1.0b2 section, and the PV area move it was missing
  CHANGELOG.md
Due: none

docs: warn before the firmware lands, and correct the battery sign in both docs
  CHANGELOG.md
  README.md
Due: none

docs(readme): the entities the reference tables never caught up with
  README.md
  uv.lock
Due: none

chore: 2.1.0b3, on the library release that fixes the upgrade reload
  CHANGELOG.md
  custom_components/span_panel/manifest.json
  pyproject.toml
  requirements_test.txt
  uv.lock
Due: none

chore: pin span-panel-api 3.0.0b9
  custom_components/span_panel/manifest.json
  pyproject.toml
  requirements_test.txt
  uv.lock
Due: none

chore: 2.1.0b4 on span-panel-api 3.0.0b10
  CHANGELOG.md
  custom_components/span_panel/__init__.py
  custom_components/span_panel/manifest.json
  pyproject.toml
  requirements_test.txt
  tests/test_setup_entry.py
  uv.lock
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(binary_sensor): create Grid Islandable when the answer is knowable
  custom_components/span_panel/binary_sensor.py
  tests/test_binary_sensor_platform.py
  uv.lock
Due: pylint-import-check, radon-complexity, radon-maintainability

chore: 2.1.0b5 on 3.0.0b11, and document the two blank entities
  CHANGELOG.md
  README.md
  custom_components/span_panel/manifest.json
  pyproject.toml
  requirements_test.txt
  uv.lock
Due: none

refactor(sensor): file Import Limit as a diagnostic, with its siblings
  CHANGELOG.md
  README.md
  custom_components/span_panel/sensor_definitions.py
  tests/test_pcs.py
Due: pylint-import-check, radon-complexity, radon-maintainability

chore: 2.1.0b6, so the Import Limit move ships
  CHANGELOG.md
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

fix(circuits): report the voltage we can justify, not a default
  custom_components/span_panel/entity_resolver.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/select.py
  custom_components/span_panel/sensor_circuit.py
  custom_components/span_panel/switch.py
  custom_components/span_panel/websocket.py
  tests/test_tabs_attribute.py
Due: pylint-import-check, radon-complexity, radon-maintainability

docs: one 2.1.0 entry, written for the people upgrading
  CHANGELOG.md
  README.md
Due: none

feat(extension): surface vendor properties on devices we already model
  custom_components/span_panel/additions.py
  custom_components/span_panel/adoption.py
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/extension.py
  custom_components/span_panel/manifest.json
  custom_components/span_panel/sensor.py
  pyproject.toml
  requirements_test.txt
  tests/test_extension_entities.py
  tests/test_extension_ids.py
  tests/test_new_entity_announcement.py
  uv.lock
Due: pylint-import-check, radon-complexity, radon-maintainability

chore: 2.1.0b7, and the changelog stops saying the opposite
  CHANGELOG.md
  custom_components/span_panel/manifest.json
Due: none

docs(readme): adopted vendor readings, and what the delete button does
  README.md
Due: none

fix(additions): name a handful of vendor readings instead of counting them
  custom_components/span_panel/additions.py
  tests/test_new_entity_announcement.py
Due: pylint-import-check, radon-complexity, radon-maintainability

chore: 2.1.0b8, so the naming fix reaches the panel that showed the problem
  README.md
  custom_components/span_panel/manifest.json
Due: none

fix(extension): four defects an adversarial review found in b8
  custom_components/span_panel/__init__.py
  custom_components/span_panel/extension.py
  custom_components/span_panel/manifest.json
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  developer.md
  pyproject.toml
  requirements_test.txt
  tests/fixtures/unread_declarations_baseline.json
  tests/test_extension_entities.py
  uv.lock
Due: pylint-import-check, radon-complexity, radon-maintainability

chore(deps): follow span-panel-api to its release versions
  custom_components/span_panel/manifest.json
  pyproject.toml
  requirements_test.txt
  uv.lock
Due: none

fix(naming): circuit energy descriptors match the suffixes they ship with
  custom_components/span_panel/sensor_definitions.py
  tests/test_sensor_entities.py
Due: pylint-import-check, radon-complexity, radon-maintainability

chore(deps): pin span-panel-api 3.0.1
  custom_components/span_panel/manifest.json
  pyproject.toml
  requirements_test.txt
Due: none

chore(deps): point the local sources at the primary checkout
  pyproject.toml
  uv.lock
Due: none

fix(naming): Recreate entity IDs proposes what the panel says now
  custom_components/span_panel/entity_resolver.py
  custom_components/span_panel/select.py
  custom_components/span_panel/sensor_base.py
  custom_components/span_panel/sensor_circuit.py
  custom_components/span_panel/switch.py
  tests/test_recreate_entity_ids.py
Due: pylint-import-check, radon-complexity, radon-maintainability

chore(release): 2.1.0b10
  custom_components/span_panel/manifest.json
Due: none

docs(changelog): the entity-id fix and the energy sensor rename
  CHANGELOG.md
Due: none

fix(naming): keep the entity-id suffix an install already has
  CHANGELOG.md
  custom_components/span_panel/entity_resolver.py
  custom_components/span_panel/id_builder.py
  custom_components/span_panel/manifest.json
  custom_components/span_panel/select.py
  custom_components/span_panel/sensor_base.py
  custom_components/span_panel/sensor_circuit.py
  custom_components/span_panel/switch.py
  tests/test_recreate_entity_ids.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(naming): stop the registry name deciding circuit-numbered entity ids
  CHANGELOG.md
  custom_components/span_panel/manifest.json
  custom_components/span_panel/select.py
  custom_components/span_panel/sensor_base.py
  custom_components/span_panel/switch.py
  tests/test_circuit_control.py
  tests/test_recreate_entity_ids.py
  tests/test_select.py
  tests/test_sensor_entities.py
Due: pylint-import-check, radon-complexity, radon-maintainability

docs: correct the 2.1.0 notes and the adoption docstring
  CHANGELOG.md
  custom_components/span_panel/adoption.py
  custom_components/span_panel/sensor_definitions.py
Due: pylint-import-check, radon-complexity, radon-maintainability

chore: 2.1.0b13
  custom_components/span_panel/manifest.json
Due: none

chore: 2.1.0b14
  custom_components/span_panel/manifest.json
Due: none

docs: troubleshooting entry for entity IDs surviving a reinstall
  README.md
Due: none

fix(translations): move notification strings out of the hassfest-validated files
  custom_components/span_panel/notices.py
  custom_components/span_panel/notifications/en.json
  custom_components/span_panel/notifications/es.json
  custom_components/span_panel/notifications/fr.json
  custom_components/span_panel/notifications/ja.json
  custom_components/span_panel/notifications/pt.json
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  scripts/sync_translations.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Path conditions:
  pylint-import-check: any of: \.py$, but not: ^tests/.*|^scripts/.*
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$
