Repository SpanPanel/span: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-import-check, radon-complexity, radon-maintainability

Path conditions:
  pylint-import-check: any of: \.py$, but not: ^tests/.*|^scripts/.*
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$

remove .local_coverage_data from commit
  .gitignore
  .local_coverage_data
Due: none

Adapt migtraion to normalize unique id's
  custom_components/span_panel/migration.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/synthetic_named_circuits.py
  custom_components/span_panel/synthetic_panel_circuits.py
  custom_components/span_panel/synthetic_sensors.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Fix version attribute error exception
  custom_components/span_panel/__init__.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Add debug logging for migration flags
  custom_components/span_panel/__init__.py
  custom_components/span_panel/synthetic_named_circuits.py
  custom_components/span_panel/synthetic_panel_circuits.py
  custom_components/span_panel/synthetic_sensors.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Fix migration flags persitence
  custom_components/span_panel/__init__.py
  custom_components/span_panel/migration.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/synthetic_sensors.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Fix migration key case sensitivity
  custom_components/span_panel/migration.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Fix named circuit case sensitivity, remove dead code
  custom_components/span_panel/helpers.py
  custom_components/span_panel/synthetic_named_circuits.py
  custom_components/span_panel/synthetic_sensors.py
  scripts/check_migration_map.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Add migration tests for 1.0.10
  custom_components/span_panel/simulation_configs/migration_test_config.yaml
  custom_components/span_panel/synthetic_sensors.py
  tests/docs/README.md
  tests/docs/simulation_test_documentation.md
  tests/docs/version_2_migration_strategy.md
  tests/migration_storage/1_0_10/core.config_entries
  tests/migration_storage/1_0_10/core.device_registry
  tests/migration_storage/1_0_10/core.entity_registry
  tests/scripts/generate_migration_test_config.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Add migration tests for 1.0.10
  custom_components/span_panel/simulation_configs/migration_test_config.yaml
  custom_components/span_panel/synthetic_sensors.py
  tests/docs/README.md
  tests/docs/simulation_test_documentation.md
  tests/docs/version_2_migration_strategy.md
  tests/migration_storage/1_0_10/core.device_registry
  tests/migration_storage/1_0_10/core.entity_registry
  tests/scripts/generate_migration_test_config.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Update README.md
  README.md
Due: none

Update coordinator.py
  custom_components/span_panel/coordinator.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Fix migration for 1.0.10 to 1.2.0
  custom_components/span_panel/helpers.py
  custom_components/span_panel/migration.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/synthetic_named_circuits.py
  custom_components/span_panel/synthetic_panel_circuits.py
  custom_components/span_panel/synthetic_sensors.py
  custom_components/span_panel/synthetic_solar.py
  scripts/migration/check_migration_map.py
  scripts/migration/run_migration_check.sh
  scripts/migration/setup_core_to_1_0_10.sh
  test_migration_classification.py
  test_panel_mapping.py
  tests/migration_storage/1_0_10/core.config_entries
  tests/migration_storage/1_0_10/core.device_registry
  tests/migration_storage/1_0_10/core.entity_registry
  tests/scripts/generate_migration_test_config.py
  tests/scripts/run_migration_test_suite.sh
  tests/scripts/test_migration_1_0_10_to_1_2_0.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Fix migration for 1.0.10 to 1.2.0
  custom_components/span_panel/helpers.py
  custom_components/span_panel/migration.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/synthetic_named_circuits.py
  custom_components/span_panel/synthetic_panel_circuits.py
  custom_components/span_panel/synthetic_sensors.py
  custom_components/span_panel/synthetic_solar.py
  scripts/migration/check_migration_map.py
  scripts/migration/run_migration_check.sh
  scripts/migration/setup_core_to_1_0_10.sh
  test_migration_classification.py
  test_panel_mapping.py
  tests/migration_storage/1_0_10/core.device_registry
  tests/migration_storage/1_0_10/core.entity_registry
  tests/scripts/generate_migration_test_config.py
  tests/scripts/run_migration_test_suite.sh
  tests/scripts/test_migration_1_0_10_to_1_2_0.py
Due: pylint-import-check, radon-complexity, radon-maintainability

remove excessive debug logging
  custom_components/span_panel/helpers.py
Due: pylint-import-check, radon-complexity, radon-maintainability

update CI for bump ha-syn
  .github/workflows/ci.yml
Due: none

fix markdown lint
  docs/dev/Synthetic_Sensor_Startup_Sequence.md
Due: none

fix tests
  tests/test_config_flow_simulator.py
  tests/test_coordinator.py
  tests/test_door_sensor_integration.py
  tests/test_entity_summary.py
  tests/test_factory.py
  tests/test_panel_level_detection.py
  tests/test_simple_integration.py
  tests/test_simulator_integration.py
  tests/test_solar_configuration.py
Due: radon-complexity, radon-maintainability

bump ha-synthetic-sensors
  .github/workflows/ci.yml
  custom_components/span_panel/manifest.json
  poetry.lock
Due: none

fix synthetic friendly name updates from panel
  .github/workflows/ci-simulation-example.yml
  .github/workflows/ci.yml
  README.md
  custom_components/span_panel/entity_id_naming_patterns.py
  custom_components/span_panel/manifest.json
  custom_components/span_panel/select.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/switch.py
  custom_components/span_panel/synthetic_named_circuits.py
  custom_components/span_panel/synthetic_panel_circuits.py
  custom_components/span_panel/synthetic_sensors.py
  custom_components/span_panel/synthetic_solar.py
  custom_components/span_panel/synthetic_utils.py
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  docs/dev/Synthetic_Sensor_Startup_Sequence.md
  docs/version_2_migration_strategy.md
  poetry.lock
  pyproject.toml
  tests/test_entity_id_naming_patterns.py
  tests/test_entity_summary.py
  tests/test_factories/span_panel_simulation_factory.py
  tests/test_grace_period_integration.py
  tests/test_synthetic_named_circuits.py
  tests/test_synthetic_sensors.py
  tests/test_synthetic_solar.py
Due: pylint-import-check, radon-complexity, radon-maintainability

downgrade log errors
  custom_components/span_panel/sensor.py
  docs/dev/integration_boot_process.md
Due: pylint-import-check, radon-complexity, radon-maintainability

Update Limitations section from main
  README.md
Due: none
