Repository SpanPanel/span: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-import-check, radon-complexity, radon-maintainability

pylint-import-check:
  name: pylint import-outside-toplevel check
  entry: poetry run pylint
  language: system
  args:
  - --disable=all
  - --enable=import-outside-toplevel
  - --score=no
  - custom_components/span_panel/
  pass_filenames: false

radon-complexity:
  name: radon complexity check
  entry: poetry run radon
  language: system
  args:
  - cc
  - --min=B
  - --show-complexity
  - custom_components/span_panel/
  pass_filenames: false

radon-maintainability:
  name: radon maintainability index
  entry: poetry run radon
  language: system
  args:
  - mi
  - --min=B
  - --show
  - custom_components/span_panel/
  pass_filenames: false

fix(select): gate the priority select on priority settability, not the relay
  custom_components/span_panel/select.py
  tests/test_select.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(websocket): carry priority settability, and pin the circuit record
  custom_components/span_panel/websocket.py
  tests/test_websocket.py
Due: pylint-import-check, radon-complexity, radon-maintainability

security: stop persisting the panel passphrase, add rotate_credentials
  CHANGELOG.md
  README.md
  custom_components/span_panel/__init__.py
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/diagnostics.py
  custom_components/span_panel/migrations.py
  custom_components/span_panel/services.py
  custom_components/span_panel/services.yaml
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_diagnostics.py
  tests/test_rotate_credentials_service.py
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(services): cover panel selection in rotate_credentials
  tests/test_rotate_credentials_service.py
Due: radon-complexity, radon-maintainability

build: span-panel-api 3.1.0, adapters 1.1.0
  custom_components/span_panel/manifest.json
  custom_components/span_panel/number.py
  pyproject.toml
  requirements_test.txt
  tests/test_evse_charge_limit.py
  uv.lock
Due: pylint-import-check, radon-complexity, radon-maintainability

security: pin the panel's CA, and refuse to re-anchor without a person
  custom_components/span_panel/__init__.py
  custom_components/span_panel/ca_repairs.py
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/config_flow_validation.py
  custom_components/span_panel/const.py
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/diagnostics.py
  custom_components/span_panel/manifest.json
  custom_components/span_panel/migrations.py
  custom_components/span_panel/repairs.py
  custom_components/span_panel/services.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_config_flow_validation.py
  tests/test_panel_ca_pinning.py
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

security: gate control commands on who is asking, and record every one
  custom_components/span_panel/__init__.py
  custom_components/span_panel/adoption.py
  custom_components/span_panel/button.py
  custom_components/span_panel/config_flow_options.py
  custom_components/span_panel/const.py
  custom_components/span_panel/control_gate.py
  custom_components/span_panel/entity.py
  custom_components/span_panel/logbook.py
  custom_components/span_panel/number.py
  custom_components/span_panel/options.py
  custom_components/span_panel/select.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/switch.py
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_binary_sensor_platform.py
  tests/test_button.py
  tests/test_circuit_control.py
  tests/test_control_gate.py
  tests/test_select.py
  tests/test_sensor_platform.py
  tests/test_setup_entry.py
Due: pylint-import-check, radon-complexity, radon-maintainability

docs: the CA pin, the control options, and what none of it protects against
  CHANGELOG.md
  README.md
Due: none

security: pin the CA before registering, so the passphrase is never sent in clear
  CHANGELOG.md
  README.md
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/const.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

docs: correct why an unpinned upgraded entry is allowed to start
  README.md
  custom_components/span_panel/const.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(control): report a refused panel command where the user made it
  CHANGELOG.md
  custom_components/span_panel/button.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/select.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/switch.py
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_button.py
  tests/test_circuit_control.py
  tests/test_dps_and_bess.py
  tests/test_select.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(control): raise a command that was never handed to the broker
  CHANGELOG.md
  README.md
  custom_components/span_panel/button.py
  custom_components/span_panel/control_gate.py
  custom_components/span_panel/number.py
  custom_components/span_panel/select.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/switch.py
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  developer.md
  tests/test_button.py
  tests/test_control_gate.py
  tests/test_evse_charge_limit.py
  tests/test_select.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(fixtures): vendor the schema-1 capture, with a version guard
  tests/adapter_fixtures.py
  tests/fixtures/README.md
  tests/fixtures/schema_one_tree.json
  tests/fixtures/schema_one_tree.source
  tests/test_fixture_provenance.py
Due: radon-complexity, radon-maintainability

test(fixtures): compare the vendored capture to its source, not just to a version string
  .env.example
  .github/workflows/ci.yml
  tests/conftest.py
  tests/fixtures/README.md
  tests/test_fixture_provenance.py
Due: radon-complexity, radon-maintainability

build(fixtures): stop the file-rewriting hooks from touching vendored captures
  .prettierignore
  prek.toml
  tests/fixtures/README.md
Due: none

fix(fixtures): re-vendor the schema-1 capture, which recorded a producer defect
  .prettierignore
  pyproject.toml
  tests/fixtures/README.md
  tests/fixtures/schema_one_tree.json
  tests/fixtures/unread_declarations_baseline.json
  tests/test_bess_telemetry.py
  tests/test_schema_discovery.py
  uv.lock
Due: radon-complexity, radon-maintainability

build(fixtures): refresh the vendored capture and its provenance in one command
  .env.example
  developer.md
  scripts/refresh-vendored-capture.py
  tests/adapter_fixtures.py
  tests/fixtures/README.md
  tests/test_fixture_provenance.py
Due: radon-complexity, radon-maintainability

build: point the type-checker path at the library checkout, not a worktree
  pyproject.toml
Due: none

fix(sensors): a derived reading is unknown while its inputs are
  custom_components/span_panel/sensor_definitions.py
  tests/factories.py
  tests/test_unreported_readings_stay_unknown.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(dip): a compensation offset the next reading disproves is retracted
  custom_components/span_panel/energy_dip.py
  custom_components/span_panel/grace_period.py
  custom_components/span_panel/sensor_base.py
  tests/test_energy_dip_compensation.py
  tests/test_energy_dip_retraction.py
  tests/test_grace_period_restoration.py
Due: pylint-import-check, radon-complexity, radon-maintainability

build: hold span-panel-api to the checkout, at commit time and at run time
  .env.example
  developer.md
  prek.toml
  scripts/check-library-path.py
  tests/test_library_path_hook.py
  tests/test_library_resolution.py
Due: radon-complexity, radon-maintainability

test(library-path): prove the gate against the commits it exists for
  prek.toml
  tests/fixtures/README.md
  tests/fixtures/pyproject_both_blocks_redirected.source
  tests/fixtures/pyproject_both_blocks_redirected.toml
  tests/fixtures/pyproject_type_checker_path_left_behind.source
  tests/fixtures/pyproject_type_checker_path_left_behind.toml
  tests/test_library_path_hook.py
Due: radon-complexity, radon-maintainability

test(dip): an outage delays a dip's verdict rather than deciding it
  tests/test_energy_dip_compensation.py
Due: radon-complexity, radon-maintainability

docs: state what dip compensation now does, and how to check an old offset
  README.md
Due: none

test(control): pin that disabling control keeps the entity_ids it stops creating
  tests/test_control_gate.py
Due: radon-complexity, radon-maintainability

chore: 2.1.0b15
  custom_components/span_panel/manifest.json
Due: none

docs(changelog): one sentence per entry in 2.1.0
  CHANGELOG.md
Due: none

fix(config-flow): pin the panel's authority without stopping to ask
  README.md
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(config-flow): believe a panel that says where it serves TLS
  custom_components/span_panel/config_flow.py
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

chore: 2.1.0b16
  custom_components/span_panel/manifest.json
Due: none

feat(naming): build the base Core composes a circuit entity id from
  custom_components/span_panel/naming.py
  tests/test_naming.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(naming): one release of the registry name, for every name we ever wrote
  custom_components/span_panel/naming.py
  tests/test_naming.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(entity): let a circuit entity hand Core its object-id base
  custom_components/span_panel/entity.py
  tests/test_naming.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(sensor): supply a base and let Core compose the circuit sensor id
  custom_components/span_panel/naming.py
  custom_components/span_panel/sensor_base.py
  custom_components/span_panel/sensor_circuit.py
  custom_components/span_panel/sensor_definitions.py
  tests/test_recreate_entity_ids.py
  tests/test_sensor_entities.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(sensor): keep the old id shape for entities the route change would otherwise move
  custom_components/span_panel/naming.py
  custom_components/span_panel/sensor_base.py
  custom_components/span_panel/sensor_circuit.py
  tests/test_naming.py
  tests/test_recreate_entity_ids.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(switch,select): supply a base instead of presetting the entity id
  custom_components/span_panel/naming.py
  custom_components/span_panel/select.py
  custom_components/span_panel/sensor_base.py
  custom_components/span_panel/switch.py
  tests/test_circuit_control.py
  tests/test_naming.py
  tests/test_recreate_entity_ids.py
  tests/test_select.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(naming): one generic install helper for the four circuit platforms
  tests/test_recreate_entity_ids.py
Due: radon-complexity, radon-maintainability

refactor(naming): delete the preset id builders
  custom_components/span_panel/entity_resolver.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/id_builder.py
  custom_components/span_panel/naming.py
  custom_components/span_panel/select.py
  custom_components/span_panel/sensor_base.py
  custom_components/span_panel/sensor_circuit.py
  custom_components/span_panel/sensor_evse.py
  custom_components/span_panel/sensor_panel.py
  custom_components/span_panel/switch.py
  tests/test_circuit_control.py
  tests/test_control_gate.py
  tests/test_energy_dip_compensation.py
  tests/test_grace_period_restoration.py
  tests/test_helpers.py
  tests/test_naming.py
  tests/test_recreate_entity_ids.py
  tests/test_select.py
  tests/test_sensor_entities.py
  tests/test_suffix_mappings_are_closed.py
  tests/test_upgrade_scenarios.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(naming): composed ids match the preset shape for the names a panel carries
  custom_components/span_panel/naming.py
  custom_components/span_panel/sensor_panel.py
  tests/test_naming.py
  tests/test_recreate_entity_ids.py
  tests/test_sensor_entities.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(naming): a SPAN-app rename still reaches the display name through the reload it requests
  tests/test_recreate_entity_ids.py
Due: radon-complexity, radon-maintainability

Path conditions:
  pylint-import-check: any of: \.py$, but not: ^tests/.*|^scripts/.*
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$
