Repository SpanPanel/span: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-import-check, radon-complexity, radon-maintainability

Path conditions:
  pylint-import-check: any of: \.py$, but not: ^tests/.*|^scripts/.*
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$

ci: bump span-panel-api by hand with each integration release
  .github/dependabot.yml
  .github/workflows/dependabot-auto-approve.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

build(deps): span-panel-api 3.6.0 for SPAN firmware r202639
  custom_components/span_panel/manifest.json
  pyproject.toml
  requirements_test.txt
  uv.lock
Due: none

chore(release): 2.1.3b1
  CHANGELOG.md
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

chore(release): 2.1.2b3
  CHANGELOG.md
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

build(deps): drop homeassistant-stubs; Core ships its own types
  .github/dependabot.yml
  custom_components/span_panel/coordinator.py
  pyproject.toml
  uv.lock
Due: pylint-import-check, radon-complexity, radon-maintainability

ci: bump the HA test harness by hand with Home Assistant
  .github/dependabot.yml
Due: none

feat(pv): decide which inverter the Solar card's PV entities read, once
  custom_components/span_panel/helpers.py
  custom_components/span_panel/pv_binding.py
  tests/test_pv_binding_rules.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(pv): resolve and record the Solar card's PV binding at setup
  custom_components/span_panel/__init__.py
  custom_components/span_panel/pv_binding.py
  custom_components/span_panel/runtime.py
  tests/factories.py
  tests/test_adoption.py
  tests/test_bess_telemetry.py
  tests/test_binary_sensor_platform.py
  tests/test_circuit_manifest_service.py
  tests/test_der_link_health.py
  tests/test_diagnostics.py
  tests/test_evse_charge_limit.py
  tests/test_init_helpers.py
  tests/test_metadata_sweep.py
  tests/test_panel_ca_pinning.py
  tests/test_pcs.py
  tests/test_platform_entry_scope.py
  tests/test_pv_binding.py
  tests/test_pv_device.py
  tests/test_pv_inverters.py
  tests/test_recreate_entity_ids.py
  tests/test_rotate_credentials_service.py
  tests/test_schema_availability.py
  tests/test_schema_discovery.py
  tests/test_schema_repairs.py
  tests/test_sensor_entities.py
  tests/test_sensor_platform.py
  tests/test_setup_entry.py
  tests/test_shed_forecast.py
  tests/test_websocket.py
  tests/test_websocket_adopted.py
  tests/test_websocket_panel.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(pv): report the Solar card's binding in diagnostics and keep the bound inverter's vendor readings on it
  custom_components/span_panel/__init__.py
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/diagnostics.py
  custom_components/span_panel/extension.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/websocket_adopted.py
  tests/test_diagnostics.py
  tests/test_extension_entities.py
Due: pylint-import-check, radon-complexity, radon-maintainability

chore(deps): relock for the vulture>=2.16 requirement pyproject.toml already declares
  uv.lock
Due: none

feat(pv): keep existing PV entities on the inverter they read and give each other inverter its own device
  custom_components/span_panel/__init__.py
  custom_components/span_panel/additions.py
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/const.py
  custom_components/span_panel/curation.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/manifest.json
  custom_components/span_panel/pv_inverter_layout.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/sensor_panel.py
  custom_components/span_panel/util.py
  pyproject.toml
  requirements_test.txt
  tests/test_binary_sensor_platform.py
  tests/test_pv_binding.py
  tests/test_pv_device.py
  tests/test_pv_inverters.py
  tests/test_sensor_entities.py
  tests/test_sensor_platform.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(pv): place each inverter's vendor readings by the binding that places its metadata
  custom_components/span_panel/__init__.py
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/extension.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/websocket_adopted.py
  tests/test_extension_entities.py
  tests/test_pv_binding.py
  tests/test_websocket_adopted.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(diagnostics): type the pv block, report the legacy key, and prove device-id keys are digested
  custom_components/span_panel/diagnostics.py
  custom_components/span_panel/pv_binding.py
  tests/test_diagnostics.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(pv): pin card detection, the record write and setup's snapshot for the binding
  tests/test_pv_binding.py
  tests/test_setup_entry.py
Due: radon-complexity, radon-maintainability

fix(setup): build every platform from the snapshot the PV binding was resolved from
  custom_components/span_panel/__init__.py
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/button.py
  custom_components/span_panel/number.py
  custom_components/span_panel/runtime.py
  custom_components/span_panel/select.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/switch.py
  tests/test_adoption.py
  tests/test_bess_telemetry.py
  tests/test_binary_sensor_platform.py
  tests/test_button.py
  tests/test_circuit_control.py
  tests/test_circuit_manifest_service.py
  tests/test_control_gate.py
  tests/test_der_link_health.py
  tests/test_diagnostics.py
  tests/test_evse_charge_limit.py
  tests/test_init_helpers.py
  tests/test_metadata_sweep.py
  tests/test_panel_ca_pinning.py
  tests/test_pcs.py
  tests/test_platform_entry_scope.py
  tests/test_platform_setup_snapshot.py
  tests/test_pv_binding.py
  tests/test_pv_device.py
  tests/test_pv_inverters.py
  tests/test_recreate_entity_ids.py
  tests/test_rotate_credentials_service.py
  tests/test_schema_availability.py
  tests/test_schema_discovery.py
  tests/test_schema_repairs.py
  tests/test_select.py
  tests/test_sensor_entities.py
  tests/test_sensor_platform.py
  tests/test_setup_entry.py
  tests/test_shed_forecast.py
  tests/test_websocket.py
  tests/test_websocket_adopted.py
  tests/test_websocket_panel.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(pv): decide the Solar card's link entity from the registry and the link records, never from a reading
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/pv_binding.py
  tests/factories.py
  tests/test_diagnostics.py
  tests/test_extension_entities.py
  tests/test_pv_binding.py
  tests/test_pv_binding_rules.py
  tests/test_websocket_adopted.py
Due: pylint-import-check, radon-complexity, radon-maintainability

build(deps): pin and lock span-panel-api 3.6.1b1 and span-panel-api-schema-1 1.2.1b1
  custom_components/span_panel/manifest.json
  pyproject.toml
  requirements_test.txt
  uv.lock
Due: none

chore(release): 2.1.2b4
  CHANGELOG.md
  README.md
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

fix(pv): keep a registered inverter link like the Solar one, and report both links in diagnostics
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/diagnostics.py
  custom_components/span_panel/pv_binding.py
  tests/factories.py
  tests/test_diagnostics.py
  tests/test_extension_entities.py
  tests/test_pv_binding.py
  tests/test_pv_binding_rules.py
  tests/test_websocket_adopted.py
Due: pylint-import-check, radon-complexity, radon-maintainability

docs(readme): describe an additional inverter's panel link as present where the panel reports one
  README.md
Due: none

feat(pv): read a PV device identifier back to the inverter it names
  custom_components/span_panel/util.py
  tests/test_solar_topology.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(pv): describe each PV device's tile: its identity and the circuit reading that is its power
  custom_components/span_panel/solar_topology.py
  tests/test_solar_topology.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(websocket): tell the card each inverter's identity and the circuit reading that is its power
  README.md
  custom_components/span_panel/websocket.py
  tests/test_websocket_solar.py
  websocket-api.md
Due: pylint-import-check, radon-complexity, radon-maintainability

test(websocket): unwrap commands through one typed helper, and require PV Power on the Solar device
  tests/helpers.py
  tests/test_pv_device.py
  tests/test_websocket.py
  tests/test_websocket_panel.py
  tests/test_websocket_solar.py
Due: radon-complexity, radon-maintainability

fix(websocket): resolve the panel's own entities in this config entry only
  custom_components/span_panel/entity_resolver.py
  custom_components/span_panel/pv_binding.py
  custom_components/span_panel/websocket.py
  tests/test_topology_panel_entities.py
  tests/test_websocket_solar.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(pv): read each solar block's vendor and model live, as the PV sensors do
  custom_components/span_panel/solar_topology.py
  custom_components/span_panel/websocket.py
  tests/test_solar_topology.py
  tests/test_websocket_solar.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(websocket): pin a restored store end to end, through the real binding
  tests/test_websocket_solar.py
Due: radon-complexity, radon-maintainability

docs(websocket): say when a solar block is absent and when its circuit is null
  README.md
  custom_components/span_panel/websocket.py
  websocket-api.md
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(websocket): look the panel status up in this config entry only
  custom_components/span_panel/websocket.py
  tests/test_websocket_solar.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(pv): keep an inverter's block, with no identity, once it leaves the live snapshot
  tests/test_solar_topology.py
  websocket-api.md
Due: radon-complexity, radon-maintainability

build(frontend): bundle the solar inverter tiles and the editor's Solar section
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

chore(release): 2.1.2b5
  CHANGELOG.md
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

feat(energy): define which counter a net sensor credits
  custom_components/span_panel/energy_orientation.py
  tests/test_energy_orientation.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor(sensor): declare energy roles and meters on the descriptions
  custom_components/span_panel/sensor.py
  custom_components/span_panel/sensor_definitions.py
  tests/test_energy_orientation.py
  tests/test_sensor_platform.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(energy): pin Net reading this update's offsets through the real fan-out
  tests/test_net_energy_fanout.py
Due: radon-complexity, radon-maintainability

fix(energy): orient every Net Energy's dip adjustment like its value
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/sensor_base.py
  custom_components/span_panel/sensor_circuit.py
  custom_components/span_panel/sensor_panel.py
  tests/test_energy_dip_compensation.py
  tests/test_grace_period_restoration.py
  tests/test_pv_device.py
  tests/test_recreate_entity_ids.py
  tests/test_sensor_entities.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(controls): remove switches and selects the panel no longer offers
  custom_components/span_panel/helpers.py
  custom_components/span_panel/select.py
  custom_components/span_panel/switch.py
  tests/test_withdrawn_controls.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(websocket): offer only the controls the integration provides
  README.md
  custom_components/span_panel/websocket.py
  tests/test_websocket.py
  websocket-api.md
Due: pylint-import-check, radon-complexity, radon-maintainability

test(controls): pin which restored control asks for the reload
  tests/test_withdrawn_controls.py
Due: radon-complexity, radon-maintainability

fix(energy): make counters and roles plain enums so a string never keys an offset
  custom_components/span_panel/energy_orientation.py
  tests/test_energy_orientation.py
Due: pylint-import-check, radon-complexity, radon-maintainability
