Repository SpanPanel/span: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-import-check, radon-complexity, radon-maintainability

pylint-import-check:
  name: pylint import-outside-toplevel check
  entry: poetry run pylint
  language: system
  args:
  - --disable=all
  - --enable=import-outside-toplevel
  - --score=no
  - custom_components/span_panel/
  pass_filenames: false

radon-complexity:
  name: radon complexity check
  entry: poetry run radon
  language: system
  args:
  - cc
  - --min=B
  - --show-complexity
  - custom_components/span_panel/
  pass_filenames: false

radon-maintainability:
  name: radon maintainability index
  entry: poetry run radon
  language: system
  args:
  - mi
  - --min=B
  - --show
  - custom_components/span_panel/
  pass_filenames: false

Phase 1: Gen3 gRPC integration — capability-gated platform and entity loading
  .github/workflows/ci.yml
  custom_components/span_panel/__init__.py
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/const.py
  custom_components/span_panel/manifest.json
  custom_components/span_panel/sensors/factory.py
  custom_components/span_panel/span_panel_api.py
  docs/dev/gen3-grpc-integration-plan.md
  poetry.lock
  pyproject.toml
  scripts/sync-dependencies.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Fix circuit name/power mapping for different panel configurations
  custom_components/span_panel/gen3/span_grpc_client.py
Due: pylint-import-check, radon-complexity, radon-maintainability

docs: split Phase 2 into 2a (snapshot migration) and 2b (Gen3 runtime wiring)
  docs/dev/gen3-grpc-integration-plan.md
Due: none

Phase 2a: migrate SpanPanel.update() to single get_snapshot() call
  custom_components/span_panel/span_panel.py
  custom_components/span_panel/span_panel_api.py
  custom_components/span_panel/span_panel_circuit.py
  custom_components/span_panel/span_panel_data.py
  custom_components/span_panel/span_panel_hardware_status.py
  custom_components/span_panel/span_panel_storage_battery.py
  tests/conftest.py
  tests/test_span_panel.py
Due: pylint-import-check, radon-complexity, radon-maintainability

docs: mark Phase 2a complete in gen3-grpc-integration-plan
  docs/dev/gen3-grpc-integration-plan.md
Due: none

Phase 2b: Gen3 gRPC push-streaming integration and Gen3-only sensors
  custom_components/span_panel/__init__.py
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/sensors/circuit.py
  custom_components/span_panel/sensors/factory.py
  custom_components/span_panel/span_panel.py
  custom_components/span_panel/span_panel_api.py
  custom_components/span_panel/span_panel_circuit.py
  custom_components/span_panel/span_panel_data.py
  docs/dev/gen3-grpc-integration-plan.md
Due: pylint-import-check, radon-complexity, radon-maintainability

docs: add Developer Testing Setup section to Gen3 integration plan
  docs/dev/gen3-grpc-integration-plan.md
Due: none

docs: add Gen3 PR #169 handoff notes and v1.3.2 changelog entry
  CHANGELOG.md
  docs/dev/gen3-pr169-handoff.md
Due: none

Discovery and position
  custom_components/span_panel/gen3/sensors.py
  custom_components/span_panel/gen3/span_grpc_client.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/sensors/__init__.py
  custom_components/span_panel/sensors/circuit.py
  custom_components/span_panel/sensors/factory.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Add dual-phase detection from BreakerGroup field type
  custom_components/span_panel/gen3/span_grpc_client.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: replace Gen3 push callbacks with polling timer to prevent recorder overload
  custom_components/span_panel/coordinator.py
Due: pylint-import-check, radon-complexity, radon-maintainability

chore: improve sensor setup logging with entity count and serial
  custom_components/span_panel/sensor.py
Due: pylint-import-check, radon-complexity, radon-maintainability

style: fix ruff formatting in sensor_definitions.py
  custom_components/span_panel/sensor_definitions.py
Due: pylint-import-check, radon-complexity, radon-maintainability

style: fix ruff formatting across 7 files
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/gen3/binary_sensors.py
  custom_components/span_panel/gen3/sensors.py
  custom_components/span_panel/gen3/span_grpc_client.py
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/sensors/circuit.py
  custom_components/span_panel/sensors/factory.py
Due: pylint-import-check, radon-complexity, radon-maintainability

chore: upgrade to Python 3.14 and HA 2026.2.2
  .github/workflows/ci.yml
  .python-version
  poetry.lock
  pyproject.toml
Due: none

bump span-panel-api version
  .github/workflows/ci.yml
Due: none

chore: update Python to 3.14.2 and HA to 2026.2.2
  .github/workflows/ci-simulation-example.yml
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
Due: none

chore: sync branch with main version alignment
  .python-version
  poetry.lock
  pyproject.toml
Due: none

docs: add Gen3 panel support documentation
  README.md
Due: none

style: fix all ruff lint errors in gen3 module
  custom_components/span_panel/gen3/binary_sensors.py
  custom_components/span_panel/gen3/coordinator.py
  custom_components/span_panel/gen3/sensors.py
  custom_components/span_panel/gen3/span_grpc_client.py
Due: pylint-import-check, radon-complexity, radon-maintainability

style: ignore UP046 (PEP 695 type params) in ruff config
  pyproject.toml
Due: none

fix: resolve all mypy and pylint CI failures for Gen3 gRPC integration
  custom_components/span_panel/__init__.py
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/gen3/binary_sensors.py
  custom_components/span_panel/gen3/sensors.py
  custom_components/span_panel/gen3/span_grpc_client.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/sensors/base.py
  custom_components/span_panel/sensors/circuit.py
  poetry.lock
  pyproject.toml
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: invert net energy for PV circuits, clean up debug logging
  custom_components/span_panel/__init__.py
  custom_components/span_panel/sensor_definitions.py
  docs/dev/span_mqtt_broker_acl_bug.md
Due: pylint-import-check, radon-complexity, radon-maintainability

docs: add v2 sensor alignment & MQTT topology bridge design doc
  custom_components/span_panel/binary_sensor.py
  docs/dev/ebus_migration_architecture.md
  docs/dev/mqtt-sensor-topic.md
  docs/dev/span_mqtt_broker_acl_bug.md
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: add PV/BESS metadata attributes, restructure README for v2
  README.md
  custom_components/span_panel/__init__.py
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/const.py
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/entity_id_naming_patterns.py
  custom_components/span_panel/entity_summary.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/sensors/circuit.py
  custom_components/span_panel/sensors/factory.py
  custom_components/span_panel/sensors/panel.py
  docs/dev/mqtt-sensor-topic.md
  docs/developer.md
  docs/v1-legacy.md
  tests/entity_summary.py
  tests/factories.py
  tests/test_entity_summary.py
  tests/test_factory.py
  tests/test_panel_sensors.py
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

docs: update README for working circuit shed priority in v2
  README.md
Due: none

feat: add MQTT snapshot debounce, clean up stale v1 options
  CHANGELOG.md
  README.md
  custom_components/span_panel/__init__.py
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/config_flow_utils/__init__.py
  custom_components/span_panel/config_flow_utils/options.py
  custom_components/span_panel/const.py
  custom_components/span_panel/options.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  docs/dev/ebus_migration_architecture.md
  docs/v1-legacy.md
  tests/test_snapshot_interval_option.py
Due: pylint-import-check, radon-complexity, radon-maintainability

chore: bump version to 2.0.0, apply ruff auto-fixes to tests
  custom_components/span_panel/manifest.json
  tests/factories.py
  tests/test_cleanup_energy_spikes.py
  tests/test_grace_period_restoration.py
  tests/test_v2_config_flow.py
Due: radon-complexity, radon-maintainability

ci: align Python versions with span-panel-api (3.13 + 3.14)
  .github/workflows/ci-simulation-example.yml
  .github/workflows/ci.yml
Due: none

fix: invert PV Power sensor so production reads as positive
  README.md
  custom_components/span_panel/sensor_definitions.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: invert circuit power for PV device types
  custom_components/span_panel/sensor_definitions.py
Due: pylint-import-check, radon-complexity, radon-maintainability

docs: clarify circuit power sign convention for PV circuits
  README.md
Due: none

fix: run post-update tasks from both push and poll paths
  custom_components/span_panel/coordinator.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Path conditions:
  pylint-import-check: any of: \.py$, but not: ^tests/.*|^scripts/.*
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$
