Repository SpanPanel/span: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-import-check, radon-complexity, radon-maintainability

pylint-import-check:
  name: pylint import-outside-toplevel check
  entry: poetry run pylint
  language: system
  args:
  - --disable=all
  - --enable=import-outside-toplevel
  - --score=no
  - custom_components/span_panel/
  pass_filenames: false

radon-complexity:
  name: radon complexity check
  entry: poetry run radon
  language: system
  args:
  - cc
  - --min=B
  - --show-complexity
  - custom_components/span_panel/
  pass_filenames: false

radon-maintainability:
  name: radon maintainability index
  entry: poetry run radon
  language: system
  args:
  - mi
  - --min=B
  - --show
  - custom_components/span_panel/
  pass_filenames: false

feat(battery): create a declared battery's device before it reports
  custom_components/span_panel/helpers.py
  tests/fixtures/expected_entities/main32_r202639-battery-unvalued.json
  tests/fixtures/topology/main32_r202639-battery-unvalued.json
  tests/test_battery_presence.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(circuits): name shared-meter and shared-relay peers and monitor a shared meter once
  custom_components/span_panel/current_monitor.py
  custom_components/span_panel/diagnostics.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/sensor_circuit.py
  custom_components/span_panel/switch.py
  custom_components/span_panel/websocket.py
  tests/fixtures/topology/main32.json
  tests/fixtures/topology/main32_r202639-battery-unvalued.json
  tests/fixtures/topology/main32_r202639-no-battery.json
  tests/fixtures/topology/main32_r202639-unpublished-readings.json
  tests/fixtures/topology/main32_r202639.json
  tests/test_shared_meters.py
  tests/test_websocket.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(evse): add a lock entity for a charger whose connector lock is settable
  custom_components/span_panel/__init__.py
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/lock.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_evse_lock.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(panel): add busbar current, frequency and upstream protection readings where declared
  custom_components/span_panel/current_monitor.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/sensor_circuit.py
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_panel_properties.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(auth): say when to retry a rate-limited registration and offer proximity only where supported
  custom_components/span_panel/__init__.py
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/hardware_guard.py
  custom_components/span_panel/services.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/conftest.py
  tests/test_passphrase_only_auth.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(privacy): keep site properties out of new entities and diagnostics
  custom_components/span_panel/extension.py
  tests/fixtures/expected_entities/main32.json
  tests/fixtures/expected_entities/main32_r202639-battery-unvalued.json
  tests/fixtures/expected_entities/main32_r202639-no-battery.json
  tests/fixtures/expected_entities/main32_r202639-unpublished-readings.json
  tests/fixtures/expected_entities/main32_r202639.json
  tests/test_diagnostics.py
  tests/test_privacy.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(energy): never use an implausible counter reading as the dip-compensation baseline
  custom_components/span_panel/counter_plausibility.py
  custom_components/span_panel/diagnostics.py
  custom_components/span_panel/grace_period.py
  custom_components/span_panel/sensor_base.py
  custom_components/span_panel/sensor_circuit.py
  tests/test_energy_dip_compensation.py
  tests/test_grace_period_restoration.py
  tests/test_implausible_counter_baseline.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(solar): bind solar by circuit role and stop inferring solar from a zero PV flow
  custom_components/span_panel/diagnostics.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/pv_binding.py
  custom_components/span_panel/solar_sources.py
  custom_components/span_panel/solar_topology.py
  custom_components/span_panel/websocket.py
  tests/fixtures/topology/main32.json
  tests/fixtures/topology/main32_r202639-battery-unvalued.json
  tests/fixtures/topology/main32_r202639-no-battery.json
  tests/fixtures/topology/main32_r202639-unpublished-readings.json
  tests/fixtures/topology/main32_r202639.json
  tests/test_diagnostics.py
  tests/test_solar_sources.py
  tests/test_websocket.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(auth): hold the passphrase-only outcome message to strings.json
  tests/test_rotate_credentials_service.py
Due: radon-complexity, radon-maintainability

test: replay the r202639 reference captures through the integration
  tests/captures_replay.py
  tests/fixtures/expected_entities/r202639-a.json
  tests/fixtures/expected_entities/r202639-b.json
  tests/fixtures/expected_entities/r202639-c.json
  tests/fixtures/expected_entities/r202639-d.json
  tests/fixtures/expected_entities/r202639-e.json
  tests/fixtures/topology/r202639-a.json
  tests/fixtures/topology/r202639-b.json
  tests/fixtures/topology/r202639-c.json
  tests/fixtures/topology/r202639-d.json
  tests/fixtures/topology/r202639-e.json
  tests/fixtures/unread_declarations/r202639-a.json
  tests/fixtures/unread_declarations/r202639-b.json
  tests/fixtures/unread_declarations/r202639-c.json
  tests/fixtures/unread_declarations/r202639-d.json
  tests/fixtures/unread_declarations/r202639-e.json
  tests/test_declared_but_unread.py
  tests/test_space_less_meters_captures.py
Due: radon-complexity, radon-maintainability

test(topology): record the position range of the reference captures
  tests/fixtures/topology/r202639-a.json
  tests/fixtures/topology/r202639-b.json
  tests/fixtures/topology/r202639-c.json
  tests/fixtures/topology/r202639-d.json
  tests/fixtures/topology/r202639-e.json
  tests/test_topology_positions.py
Due: radon-complexity, radon-maintainability

test(circuits): hold every captured shared group to its entities, peers and rating
  custom_components/span_panel/field_paths.py
  tests/fixtures/topology/r202639-a.json
  tests/fixtures/topology/r202639-b.json
  tests/fixtures/topology/r202639-c.json
  tests/fixtures/topology/r202639-d.json
  tests/fixtures/topology/r202639-e.json
  tests/fixtures/unread_declarations/r202639-a.json
  tests/fixtures/unread_declarations/r202639-b.json
  tests/fixtures/unread_declarations/r202639-c.json
  tests/fixtures/unread_declarations/r202639-d.json
  tests/fixtures/unread_declarations/r202639-e.json
  tests/test_field_path_conformance.py
  tests/test_shared_meters_captures.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(panel): hold every capture's lock, readings and mains limit to its declarations
  custom_components/span_panel/field_paths.py
  tests/fixtures/expected_entities/r202639-a.json
  tests/fixtures/expected_entities/r202639-b.json
  tests/fixtures/expected_entities/r202639-c.json
  tests/fixtures/expected_entities/r202639-d.json
  tests/fixtures/expected_entities/r202639-e.json
  tests/fixtures/topology/r202639-a.json
  tests/fixtures/topology/r202639-b.json
  tests/fixtures/topology/r202639-c.json
  tests/fixtures/topology/r202639-d.json
  tests/fixtures/topology/r202639-e.json
  tests/fixtures/unread_declarations/r202639-a.json
  tests/fixtures/unread_declarations/r202639-b.json
  tests/fixtures/unread_declarations/r202639-c.json
  tests/fixtures/unread_declarations/r202639-d.json
  tests/fixtures/unread_declarations/r202639-e.json
  tests/test_field_path_conformance.py
  tests/test_panel_properties_captures.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(privacy): hold every capture's site values out of entities, diagnostics and logs
  tests/fixtures/expected_entities/r202639-a.json
  tests/fixtures/expected_entities/r202639-b.json
  tests/fixtures/expected_entities/r202639-c.json
  tests/fixtures/expected_entities/r202639-d.json
  tests/fixtures/expected_entities/r202639-e.json
  tests/fixtures/unread_declarations/main32_r202633.json
  tests/fixtures/unread_declarations/main32_r202639.json
  tests/fixtures/unread_declarations/parent_child_tree.json
  tests/fixtures/unread_declarations/r202639-a.json
  tests/fixtures/unread_declarations/r202639-b.json
  tests/fixtures/unread_declarations/r202639-c.json
  tests/fixtures/unread_declarations/r202639-d.json
  tests/fixtures/unread_declarations/r202639-e.json
  tests/test_privacy.py
Due: radon-complexity, radon-maintainability

test(energy): hold every capture's implausible counters out of the dip baseline
  tests/test_implausible_counter_baseline.py
  tests/test_implausible_counter_baseline_captures.py
Due: radon-complexity, radon-maintainability

test(energy): orient every capture as its device type alone does and enumerate the role read
  custom_components/span_panel/field_paths.py
  tests/fixtures/unread_declarations/r202639-a.json
  tests/fixtures/unread_declarations/r202639-b.json
  tests/fixtures/unread_declarations/r202639-c.json
  tests/fixtures/unread_declarations/r202639-d.json
  tests/fixtures/unread_declarations/r202639-e.json
  tests/test_field_path_conformance.py
  tests/test_solar_role_orientation.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(solar): no capture with a battery and no solar source gets a Solar device
  tests/test_solar_sources_captures.py
Due: radon-complexity, radon-maintainability

test(battery): every capture that declares a battery has its device, and a circuit-fed one its link
  tests/fixtures/expected_entities/r202639-d.json
  tests/fixtures/topology/r202639-d.json
  tests/test_battery_presence_captures.py
Due: radon-complexity, radon-maintainability

build(deps): pin ebus-panel-sim 0.10.0b2 for the reference captures
  .github/dependabot.yml
  pyproject.toml
  requirements_test.txt
  uv.lock
Due: none

fix(monitoring): hold a shared meter's override under its group key
  custom_components/span_panel/current_monitor.py
  tests/test_shared_meters.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor(solar): resolve the binding from the sources already computed
  custom_components/span_panel/pv_binding.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(circuits): never present a meter without a breaker space as a breaker
  custom_components/span_panel/current_monitor.py
  custom_components/span_panel/diagnostics.py
  custom_components/span_panel/sensor_circuit.py
  custom_components/span_panel/websocket.py
  tests/fixtures/topology/r202639-a.json
  tests/fixtures/topology/r202639-b.json
  tests/test_space_less_meters_captures.py
Due: pylint-import-check, radon-complexity, radon-maintainability

build(frontend): bundle span-card 0.10.0-beta.1
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

fix(lock): withdraw the lock when the charger stops offering it
  custom_components/span_panel/lock.py
  tests/test_evse_lock.py
Due: pylint-import-check, radon-complexity, radon-maintainability

chore(release): 2.2.0b1
  CHANGELOG.md
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

docs(changelog): list the 2.2.0 changes users will see
  CHANGELOG.md
Due: none

fix: address review findings on the 2.1.3b2 changes
  custom_components/span_panel/__init__.py
  custom_components/span_panel/current_monitor.py
  custom_components/span_panel/hardware_guard.py
  custom_components/span_panel/sensor_circuit.py
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/services.py
  tests/test_current_monitor.py
  tests/test_hardware_guard.py
  tests/test_setup_entry.py
Due: pylint-import-check, radon-complexity, radon-maintainability

docs(agents): no AI attribution in history or on GitHub
  AGENTS.md
Due: none

docs: put the hardware read timeout's docstring under its constant
  custom_components/span_panel/__init__.py
Due: pylint-import-check, radon-complexity, radon-maintainability

chore: release 2.2.0b2
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  pylint-import-check: any of: \.py$, but not: ^tests/.*|^scripts/.*
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$
