Repository SpanPanel/span: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-import-check, radon-complexity, radon-maintainability

pylint-import-check:
  name: pylint import-outside-toplevel check
  entry: poetry run pylint
  language: system
  args:
  - --disable=all
  - --enable=import-outside-toplevel
  - --score=no
  - custom_components/span_panel/
  pass_filenames: false

radon-complexity:
  name: radon complexity check
  entry: poetry run radon
  language: system
  args:
  - cc
  - --min=B
  - --show-complexity
  - custom_components/span_panel/
  pass_filenames: false

radon-maintainability:
  name: radon maintainability index
  entry: poetry run radon
  language: system
  args:
  - mi
  - --min=B
  - --show
  - custom_components/span_panel/
  pass_filenames: false

refactor(sensor_circuit): one circuit-sensor base, one API key map
  custom_components/span_panel/sensor_circuit.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor: remove the remaining guards that cannot fail
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/button.py
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/select.py
  custom_components/span_panel/sensor_base.py
  custom_components/span_panel/sensor_circuit.py
  custom_components/span_panel/switch.py
Due: pylint-import-check, radon-complexity, radon-maintainability

style(tests): organize imports in the three files this sweep edited
  tests/test_button.py
  tests/test_diagnostics.py
  tests/test_dps_and_bess.py
Due: radon-complexity, radon-maintainability

fix(number): name the charger the user sees when a charge-limit write fails
  custom_components/span_panel/number.py
  custom_components/span_panel/util.py
  tests/test_evse_charge_limit.py
Due: pylint-import-check, radon-complexity, radon-maintainability

perf(config_flow): fetch the CA once per FQDN readiness wait, not once per poll
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/config_flow_validation.py
  tests/test_config_flow_validation.py
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

chore: pin span-panel-api 3.1.1 and schema-0 1.1.1
  custom_components/span_panel/manifest.json
  pyproject.toml
  requirements_test.txt
  uv.lock
Due: none

chore: 2.1.0b18
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

chore: pin span-panel-api-schema-1 1.1.1
  custom_components/span_panel/manifest.json
  pyproject.toml
  requirements_test.txt
  tests/fixtures/README.md
  tests/fixtures/schema_one_tree.source
  uv.lock
Due: none

chore: 2.1.0b19
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

chore: pin span-panel-api-schema-1 1.1.2 and follow its reference capture, which now carries a never-backup circuit
  custom_components/span_panel/manifest.json
  pyproject.toml
  requirements_test.txt
  tests/fixtures/schema_one_tree.json
  tests/fixtures/schema_one_tree.source
  tests/test_der_link_health.py
  uv.lock
Due: radon-complexity, radon-maintainability

chore: 2.1.0b20
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

chore: read the adapter reference payloads from the pinned wheels; the vendored copies and their guard leave
  .env.example
  .github/workflows/ci.yml
  .prettierignore
  custom_components/span_panel/diagnostics.py
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/manifest.json
  custom_components/span_panel/schema_validation.py
  developer.md
  prek.toml
  pyproject.toml
  requirements_test.txt
  scripts/refresh-vendored-capture.py
  tests/adapter_fixtures.py
  tests/conftest.py
  tests/fixtures/README.md
  tests/fixtures/schema_one_tree.json
  tests/fixtures/schema_one_tree.source
  tests/fixtures/schema_zero_types.json
  tests/test_bess_telemetry.py
  tests/test_field_path_conformance.py
  tests/test_fixture_provenance.py
  tests/test_library_path_hook.py
  tests/test_library_resolution.py
  tests/test_metadata_sweep.py
  tests/test_pv_device.py
  tests/test_schema_discovery.py
  tests/test_sensor_entities.py
  tests/test_shed_forecast.py
  uv.lock
Due: pylint-import-check, radon-complexity, radon-maintainability

chore: 2.1.0b21
  CHANGELOG.md
  custom_components/span_panel/manifest.json
  prek.toml
  pyproject.toml
  scripts/check-library-path.py
  tests/adapter_fixtures.py
  uv.lock
Due: radon-complexity, radon-maintainability

docs: lead 2.1.0 with a summary, collapse the adopted-entity entries, and correct the release notes
  CHANGELOG.md
Due: none

docs: trim the security notes in the changelog and README
  CHANGELOG.md
  README.md
Due: none

docs: let the security section's two lead-ins stand on their own
  README.md
Due: none

Clean up change log
  CHANGELOG.md
Due: none

ci(deps): take the pending dependabot bumps — setup-python 7, mypy 2.1.0, ruff 0.15.18, pyright, pylint, prek, pytest
  .github/workflows/ci.yml
  pyproject.toml
  requirements_test.txt
  uv.lock
Due: none

chore: 2.1.0
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

fix(config_flow): tell a moved panel apart from an impersonated one
  CHANGELOG.md
  README.md
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/config_flow_validation.py
  custom_components/span_panel/manifest.json
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  pyproject.toml
  requirements_test.txt
  tests/test_config_flow_validation.py
  tests/test_v2_config_flow.py
  tests/test_v2_config_flow_tls.py
  uv.lock
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(config_flow): a moved panel with no address to fall back to is refused
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/config_flow_validation.py
  tests/test_v2_config_flow_tls.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(config_flow): prove the refusal form is not a dead end
  tests/test_v2_config_flow_tls.py
Due: radon-complexity, radon-maintainability

docs: make the security section guidance, not narrative
  README.md
  developer.md
Due: none

fix(repairs): tell the user when the panel is not at the configured address
  CHANGELOG.md
  custom_components/span_panel/__init__.py
  custom_components/span_panel/ca_repairs.py
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/leaf_repairs.py
  custom_components/span_panel/manifest.json
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  pyproject.toml
  requirements_test.txt
  tests/test_leaf_name_mismatch_repair.py
  uv.lock
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(config_flow): a Supervisor discovery reallocates ports, not the host
  CHANGELOG.md
  README.md
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/manifest.json
  developer.md
  pyproject.toml
  tests/test_v2_config_flow.py
  uv.lock
Due: pylint-import-check, radon-complexity, radon-maintainability

chore(release): 2.1.0
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

feat(curation): record type and validation for user-asserted adopted metadata
  custom_components/span_panel/adoption.py
  custom_components/span_panel/curation.py
  custom_components/span_panel/extension.py
  custom_components/span_panel/util.py
  tests/test_curation.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(curation): cover the refusal paths the validation core is built on
  tests/test_curation.py
Due: radon-complexity, radon-maintainability

feat(curation): per-entry storage overlay with stale-record sanitisation
  custom_components/span_panel/curation.py
  tests/test_curation.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(curation): a record asserting nothing clears the key instead of storing an unreadable one
  custom_components/span_panel/curation.py
  tests/test_curation.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(curation): description helpers; AST guard added for extension.py
  custom_components/span_panel/curation.py
  tests/test_curation.py
  tests/test_extension_entities.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(curation): load the overlay at setup, ahead of the platforms
  custom_components/span_panel/__init__.py
  custom_components/span_panel/curation.py
  custom_components/span_panel/runtime.py
  tests/test_adoption.py
  tests/test_bess_telemetry.py
  tests/test_binary_sensor_platform.py
  tests/test_circuit_manifest_service.py
  tests/test_curation.py
  tests/test_der_link_health.py
  tests/test_diagnostics.py
  tests/test_evse_charge_limit.py
  tests/test_init_helpers.py
  tests/test_metadata_sweep.py
  tests/test_panel_ca_pinning.py
  tests/test_pcs.py
  tests/test_pv_device.py
  tests/test_recreate_entity_ids.py
  tests/test_rotate_credentials_service.py
  tests/test_schema_availability.py
  tests/test_schema_discovery.py
  tests/test_schema_repairs.py
  tests/test_sensor_entities.py
  tests/test_sensor_platform.py
  tests/test_setup_entry.py
  tests/test_shed_forecast.py
  tests/test_websocket.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(curation): adopted-device entities are born with curated metadata
  custom_components/span_panel/adoption.py
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/number.py
  custom_components/span_panel/select.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/switch.py
  tests/test_adoption.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(curation): vendor readings on modelled devices honour the overlay
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/extension.py
  custom_components/span_panel/sensor.py
  tests/test_extension_entities.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(curation): adopted/list reports every curatable row and its choices
  custom_components/span_panel/websocket.py
  custom_components/span_panel/websocket_adopted.py
  tests/test_websocket_adopted.py
  websocket-api.md
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(curation): adopted/list skips the loser of a flattened-id collision
  custom_components/span_panel/websocket_adopted.py
  tests/test_websocket_adopted.py
Due: pylint-import-check, radon-complexity, radon-maintainability

security(rest): ride the pinned CA at runtime, and fail closed with repairs
  CHANGELOG.md
  README.md
  custom_components/span_panel/__init__.py
  custom_components/span_panel/ca_repairs.py
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/config_flow_validation.py
  custom_components/span_panel/manifest.json
  custom_components/span_panel/repairs.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  pyproject.toml
  requirements_test.txt
  tests/test_runtime_rest_transport.py
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(deps): pair pytest-homeassistant-custom-component with the pinned Home Assistant
  pyproject.toml
  requirements_test.txt
Due: none

feat(curation): adopted/curate websocket command — validate, save, schedule reload
  custom_components/span_panel/websocket.py
  custom_components/span_panel/websocket_adopted.py
  tests/test_websocket_adopted.py
  websocket-api.md
Due: pylint-import-check, radon-complexity, radon-maintainability

style: fold in the formatter fix the first commit left unstaged
  custom_components/span_panel/__init__.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Path conditions:
  pylint-import-check: any of: \.py$, but not: ^tests/.*|^scripts/.*
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$
