Repository SpanPanel/span: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-import-check, radon-complexity, radon-maintainability

pylint-import-check:
  name: pylint import-outside-toplevel check
  entry: poetry run pylint
  language: system
  args:
  - --disable=all
  - --enable=import-outside-toplevel
  - --score=no
  - custom_components/span_panel/
  pass_filenames: false

radon-complexity:
  name: radon complexity check
  entry: poetry run radon
  language: system
  args:
  - cc
  - --min=B
  - --show-complexity
  - custom_components/span_panel/
  pass_filenames: false

radon-maintainability:
  name: radon maintainability index
  entry: poetry run radon
  language: system
  args:
  - mi
  - --min=B
  - --show
  - custom_components/span_panel/
  pass_filenames: false

docs(websocket): show the circuit's relay, priority and backup fields in the example
  websocket-api.md
Due: none

refactor(energy): declare each Net once and bind every energy sensor's meter and role
  custom_components/span_panel/energy_orientation.py
  custom_components/span_panel/sensor_base.py
  custom_components/span_panel/sensor_circuit.py
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/sensor_panel.py
  tests/test_energy_dip_compensation.py
  tests/test_energy_orientation.py
  tests/test_grace_period_restoration.py
  tests/test_sensor_entities.py
Due: pylint-import-check, radon-complexity, radon-maintainability

chore(release): 2.1.2b6
  CHANGELOG.md
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

build(frontend): bundle the card's control and reload fixes
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

test(energy): pin Net through a retracted dip and across a restart
  tests/test_net_energy_fanout.py
Due: radon-complexity, radon-maintainability

fix(energy): apply a dip compensation change made while Home Assistant is starting
  custom_components/span_panel/__init__.py
  custom_components/span_panel/sensor_base.py
  tests/test_init_helpers.py
  tests/test_net_energy_fanout.py
Due: pylint-import-check, radon-complexity, radon-maintainability

docs(readme): note the 2.1.2 Net Energy step and say dip notices come on settle
  README.md
Due: none

build(frontend): bundle span-card 0.9.5
  custom_components/span_panel/frontend/dist/span-panel-card.js
  custom_components/span_panel/frontend/dist/span-panel.js
Due: none

fix(energy): read the dip compensation option as a bool
  custom_components/span_panel/control_gate.py
  custom_components/span_panel/options.py
  custom_components/span_panel/sensor_base.py
  tests/test_sensor_entities.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(energy): prove a restart moves no entity id
  tests/test_net_energy_fanout.py
Due: radon-complexity, radon-maintainability

docs(readme): say which Net Energy sensors step on upgrading, and to check offsets first
  README.md
Due: none

fix(options): pre-fill energy dip compensation as the sensors read an unset option
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/config_flow_options.py
  custom_components/span_panel/const.py
  custom_components/span_panel/sensor_base.py
  tests/test_energy_dip_option.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(init): give each entry changed during start-up its own reload
  tests/test_init_helpers.py
Due: radon-complexity, radon-maintainability

fix(init): keep the deferred reload's record right whichever order its job runs in
  custom_components/span_panel/__init__.py
  tests/test_init_helpers.py
Due: pylint-import-check, radon-complexity, radon-maintainability

chore(release): 2.1.2b7
  CHANGELOG.md
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

docs(changelog): consolidate 2.1.2 into user-facing grouped entries
  CHANGELOG.md
Due: none

chore(release): 2.1.2b8
  CHANGELOG.md
  custom_components/span_panel/manifest.json
  pyproject.toml
  requirements_test.txt
  uv.lock
Due: none

docs(changelog): say to install 2.1.2 before firmware r202639
  CHANGELOG.md
Due: none

chore(release): 2.1.2
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

fix(sensor): remove the Unmapped Circuit Sensors option
  CHANGELOG.md
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/config_flow_options.py
  custom_components/span_panel/const.py
  custom_components/span_panel/current_monitor.py
  custom_components/span_panel/entity_resolver.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/migrations.py
  custom_components/span_panel/naming.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/sensor_base.py
  custom_components/span_panel/sensor_circuit.py
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/services.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  custom_components/span_panel/websocket.py
  developer.md
  developer_entity_id_and_name_handling.md
  tests/test_energy_orientation.py
  tests/test_enum_sensor_options.py
  tests/test_naming.py
  tests/test_recreate_entity_ids.py
  tests/test_schema_validation.py
  tests/test_sensor_entities.py
  tests/test_sensor_platform.py
  tests/test_suffix_mappings_are_closed.py
  tests/test_unmapped_sensor_ids.py
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(sensor): report power as unknown while the panel is offline
  CHANGELOG.md
  README.md
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/sensor_base.py
  custom_components/span_panel/sensor_panel.py
  tests/test_panel_ca_pinning.py
  tests/test_sensor_entities.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(sensor): report unpublished power flows and currents as unknown
  CHANGELOG.md
  custom_components/span_panel/current_monitor.py
  custom_components/span_panel/sensor_definitions.py
  tests/test_current_monitor.py
  tests/test_unreported_readings_stay_unknown.py
Due: pylint-import-check, radon-complexity, radon-maintainability

ci: run the checks on pre-release branches, and on demand
  .github/workflows/hacs.yml
  .github/workflows/main.yml
Due: none

fix(ids): treat circuit ids as opaque when parsing unique ids
  CHANGELOG.md
  custom_components/span_panel/adoption.py
  custom_components/span_panel/current_monitor.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/id_builder.py
  custom_components/span_panel/services.py
  custom_components/span_panel/websocket.py
  tests/test_adoption.py
  tests/test_current_monitor.py
  tests/test_favorites_service.py
  tests/test_match_circuit_id.py
  tests/test_websocket.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor(ids): remove the unused is_panel_level_sensor_key
  custom_components/span_panel/helpers.py
  custom_components/span_panel/id_builder.py
  tests/test_helpers.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(diagnostics): redact the Wi-Fi network name
  CHANGELOG.md
  custom_components/span_panel/diagnostics.py
  tests/test_diagnostics.py
Due: pylint-import-check, radon-complexity, radon-maintainability

docs(readme): warn against debug logging for the homie logger
  README.md
Due: none

fix(monitoring): resolve a threshold's circuit against the live circuit ids
  custom_components/span_panel/current_monitor.py
  custom_components/span_panel/services.py
  tests/test_current_monitor.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(favorites): say when the panel is not loaded, and remove a departed circuit
  custom_components/span_panel/services.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_favorites_service.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(monitoring): act on the panel a threshold's entity belongs to
  CHANGELOG.md
  custom_components/span_panel/services.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_current_monitor.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test: expected entities, unread properties and topology for the public MAIN 32 captures
  .prettierignore
  developer.md
  prek.toml
  tests/adapter_fixtures.py
  tests/captures_replay.py
  tests/conftest.py
  tests/fixtures/README.md
  tests/fixtures/captures/README.md
  tests/fixtures/captures/SHA256SUMS
  tests/fixtures/captures/main32-tree-v1.json
  tests/fixtures/captures/main32_r202639-tree-v1.json
  tests/fixtures/expected_entities/main32.json
  tests/fixtures/expected_entities/main32_r202639-battery-unvalued.json
  tests/fixtures/expected_entities/main32_r202639-no-battery.json
  tests/fixtures/expected_entities/main32_r202639-unpublished-readings.json
  tests/fixtures/expected_entities/main32_r202639.json
  tests/fixtures/topology/main32.json
  tests/fixtures/topology/main32_r202639-battery-unvalued.json
  tests/fixtures/topology/main32_r202639-no-battery.json
  tests/fixtures/topology/main32_r202639-unpublished-readings.json
  tests/fixtures/topology/main32_r202639.json
  tests/fixtures/unread_declarations/main32.json
  tests/fixtures/unread_declarations/main32_r202639.json
  tests/fixtures/unread_declarations/parent_child_tree.json
  tests/test_declared_but_unread.py
  tests/test_expected_entities.py
  tests/test_pv_device.py
  tests/test_schema_discovery.py
Due: radon-complexity, radon-maintainability

test: carry the upstream license notice with the vendored captures
  developer.md
  prek.toml
  tests/captures_replay.py
  tests/fixtures/README.md
  tests/fixtures/captures/LICENSE
  tests/fixtures/captures/README.md
  tests/fixtures/captures/SHA256SUMS
  tests/test_expected_entities.py
Due: radon-complexity, radon-maintainability

build(deps): span-panel-api 3.7.0b1, schema-0 1.3.0b1 and schema-1 1.3.0b1
  custom_components/span_panel/current_monitor.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/manifest.json
  custom_components/span_panel/sensor.py
  custom_components/span_panel/services.py
  custom_components/span_panel/websocket.py
  pyproject.toml
  requirements_test.txt
  scripts/sync-dependencies.py
  tests/adapter_fixtures.py
  tests/test_circuit_manifest_service.py
  tests/test_dependency_sync.py
  tests/test_flat_panel_positions.py
  tests/test_sensor_platform.py
  tests/test_websocket.py
  tests/test_withdrawn_controls.py
  uv.lock
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(setup): refuse entity creation on unvalidated hardware
  CHANGELOG.md
  custom_components/span_panel/__init__.py
  custom_components/span_panel/hardware_guard.py
  custom_components/span_panel/hardware_repairs.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/conftest.py
  tests/test_hardware_guard.py
  tests/test_setup_entry.py
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

chore(setup): update the validated hardware list
  custom_components/span_panel/hardware_guard.py
  tests/test_hardware_guard.py
  tests/test_setup_entry.py
Due: pylint-import-check, radon-complexity, radon-maintainability

build(deps): span-panel-api 3.8.0b1 and schema-1 1.4.0b1
  custom_components/span_panel/manifest.json
  custom_components/span_panel/sensor_panel.py
  pyproject.toml
  requirements_test.txt
  tests/adapter_fixtures.py
  tests/factories.py
  tests/test_expected_entities.py
  tests/test_pv_inverters.py
  tests/test_sensor_entities.py
  uv.lock
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(circuits): add sensors for meters without a breaker space and keep them out of the breaker grid
  custom_components/span_panel/helpers.py
  custom_components/span_panel/sensor_circuit.py
  custom_components/span_panel/websocket.py
  tests/fixtures/topology/main32.json
  tests/fixtures/topology/main32_r202639-battery-unvalued.json
  tests/fixtures/topology/main32_r202639-no-battery.json
  tests/fixtures/topology/main32_r202639-unpublished-readings.json
  tests/fixtures/topology/main32_r202639.json
  tests/test_space_less_meters.py
  tests/test_websocket.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test: read the reference captures from the emitter package
  .prettierignore
  developer.md
  prek.toml
  tests/captures_replay.py
  tests/fixtures/README.md
  tests/fixtures/captures/LICENSE
  tests/fixtures/captures/README.md
  tests/fixtures/captures/SHA256SUMS
  tests/fixtures/captures/main32-tree-v1.json
  tests/fixtures/captures/main32_r202639-tree-v1.json
  tests/fixtures/expected_entities/main32_r202633.json
  tests/fixtures/topology/main32_r202633.json
  tests/fixtures/unread_declarations/main32_r202633.json
  tests/test_declared_but_unread.py
  tests/test_expected_entities.py
Due: radon-complexity, radon-maintainability

feat(energy): read a circuit with a solar role as generation
  custom_components/span_panel/energy_orientation.py
  pytest.ini
  tests/test_solar_role_orientation.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat(topology): report the breaker position range
  custom_components/span_panel/websocket.py
  tests/fixtures/topology/main32.json
  tests/fixtures/topology/main32_r202639-battery-unvalued.json
  tests/fixtures/topology/main32_r202639-no-battery.json
  tests/fixtures/topology/main32_r202639-unpublished-readings.json
  tests/fixtures/topology/main32_r202639.json
  tests/test_topology_positions.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Path conditions:
  pylint-import-check: any of: \.py$, but not: ^tests/.*|^scripts/.*
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$
