Repository SpanPanel/span: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-import-check, radon-complexity, radon-maintainability

pylint-import-check:
  name: pylint import-outside-toplevel check
  entry: poetry run pylint
  language: system
  args:
  - --disable=all
  - --enable=import-outside-toplevel
  - --score=no
  - custom_components/span_panel/
  pass_filenames: false

radon-complexity:
  name: radon complexity check
  entry: poetry run radon
  language: system
  args:
  - cc
  - --min=B
  - --show-complexity
  - custom_components/span_panel/
  pass_filenames: false

radon-maintainability:
  name: radon maintainability index
  entry: poetry run radon
  language: system
  args:
  - mi
  - --min=B
  - --show
  - custom_components/span_panel/
  pass_filenames: false

docs: circuit entity ids follow the user's entity-id settings
  CHANGELOG.md
  README.md
  developer.md
  tests/test_recreate_entity_ids.py
Due: radon-complexity, radon-maintainability

docs: say exactly what the release does to the registry name field
  CHANGELOG.md
  README.md
  developer.md
Due: none

fix(naming): keep ids on generated panel names, and read the suffix back anchored on the circuit
  CHANGELOG.md
  custom_components/span_panel/entity.py
  custom_components/span_panel/naming.py
  custom_components/span_panel/select.py
  custom_components/span_panel/sensor_base.py
  custom_components/span_panel/switch.py
  tests/test_naming.py
  tests/test_recreate_entity_ids.py
Due: pylint-import-check, radon-complexity, radon-maintainability

security(config-flow): pin the CA on reauth before the passphrase is sent
  CHANGELOG.md
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/config_flow_validation.py
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(config-flow): bootstrap an FQDN install over the address the leaf actually names
  CHANGELOG.md
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/config_flow_validation.py
  tests/test_config_flow_validation.py
  tests/test_v2_config_flow.py
  tests/test_v2_config_flow_tls.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor(naming): the base never bypasses entity_id_parts
  CHANGELOG.md
  README.md
  custom_components/span_panel/entity.py
  custom_components/span_panel/naming.py
  custom_components/span_panel/select.py
  custom_components/span_panel/sensor_base.py
  custom_components/span_panel/sensor_circuit.py
  custom_components/span_panel/switch.py
  developer.md
  tests/test_naming.py
  tests/test_recreate_entity_ids.py
Due: pylint-import-check, radon-complexity, radon-maintainability

docs: existing EVSE feed sensors compose like any other on Recreate
  README.md
  developer.md
Due: none

fix(config-flow): never persist a pinned host the leaf does not name
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/config_flow_validation.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_config_flow_validation.py
  tests/test_v2_config_flow_tls.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(control): the control lock keeps its state across a reload
  CHANGELOG.md
  custom_components/span_panel/__init__.py
  custom_components/span_panel/control_gate.py
  custom_components/span_panel/switch.py
  tests/test_control_gate.py
  tests/test_control_lock_state.py
  tests/test_setup_entry.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(control): one outcome path for every control, adopted ones included
  CHANGELOG.md
  custom_components/span_panel/adoption.py
  custom_components/span_panel/button.py
  custom_components/span_panel/entity.py
  custom_components/span_panel/number.py
  custom_components/span_panel/select.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/switch.py
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_adoption.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(adoption): a vendor format we cannot parse yields a reading, not a crash
  custom_components/span_panel/adoption.py
  custom_components/span_panel/number.py
  tests/test_adoption.py
  tests/test_evse_charge_limit.py
Due: pylint-import-check, radon-complexity, radon-maintainability

security(ca): never pin a CA that does not sign the panel's own certificate
  custom_components/span_panel/__init__.py
  custom_components/span_panel/config_flow_validation.py
  custom_components/span_panel/repairs.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_panel_ca_pinning.py
  tests/test_panel_ca_pinning_tls.py
  tests/test_v2_config_flow_tls.py
  tests/tls_panel.py
Due: pylint-import-check, radon-complexity, radon-maintainability

security(ca): verify the pin against the port it guards
  custom_components/span_panel/__init__.py
  custom_components/span_panel/const.py
  custom_components/span_panel/repairs.py
  tests/test_panel_ca_pinning_tls.py
Due: pylint-import-check, radon-complexity, radon-maintainability

security(discovery): a pinned entry follows a discovered host only when its certificate chains to the pin
  custom_components/span_panel/config_flow.py
  tests/test_v2_config_flow_tls.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor(config-flow): one implementation of which address reaches the panel
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/config_flow_validation.py
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(services): rotate_credentials names its panel, reports a failed reload, and never downgrades to plaintext
  custom_components/span_panel/config_flow_validation.py
  custom_components/span_panel/services.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_rotate_credentials_service.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(services): rotate_credentials tests pass ruff, and two wording nits
  custom_components/span_panel/config_flow_validation.py
  custom_components/span_panel/services.py
  tests/test_rotate_credentials_service.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(coordinator): a dead transport makes entities unavailable, not zero
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/button.py
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/entity.py
  custom_components/span_panel/number.py
  custom_components/span_panel/select.py
  custom_components/span_panel/sensor_base.py
  custom_components/span_panel/switch.py
  tests/test_adoption.py
  tests/test_bess_telemetry.py
  tests/test_binary_sensor_platform.py
  tests/test_button.py
  tests/test_control_lock_state.py
  tests/test_der_link_health.py
  tests/test_diagnostics.py
  tests/test_dps_and_bess.py
  tests/test_energy_dip_compensation.py
  tests/test_evse_charge_limit.py
  tests/test_metadata_sweep.py
  tests/test_panel_ca_pinning.py
  tests/test_pcs.py
  tests/test_pv_device.py
  tests/test_recreate_entity_ids.py
  tests/test_schema_discovery.py
  tests/test_sensor_entities.py
  tests/test_shed_forecast.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(dip): a confirmed dip that then returns to its baseline is still retracted
  custom_components/span_panel/energy_dip.py
  custom_components/span_panel/grace_period.py
  custom_components/span_panel/sensor_base.py
  tests/test_energy_dip_compensation.py
  tests/test_energy_dip_retraction.py
  tests/test_grace_period_restoration.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(sensor): do not present a default as the at_service_entrance reading
  custom_components/span_panel/sensor_panel.py
  tests/adapter_fixtures.py
  tests/test_sensor_entities.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(dip): a dip inside a confirmed window is judged against its own baseline, and the reset is reported when it settles
  custom_components/span_panel/energy_dip.py
  custom_components/span_panel/grace_period.py
  custom_components/span_panel/sensor_base.py
  tests/test_energy_dip_compensation.py
  tests/test_energy_dip_retraction.py
  tests/test_grace_period_restoration.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test(sensor): pin the at_service_entrance adapter gate to the installed adapter keys
  tests/adapter_fixtures.py
  tests/test_field_path_conformance.py
Due: radon-complexity, radon-maintainability

fix(control): debounce only delivered commands, refuse under DISABLED, follow settability changes
  CHANGELOG.md
  custom_components/span_panel/__init__.py
  custom_components/span_panel/control_gate.py
  custom_components/span_panel/logbook.py
  custom_components/span_panel/select.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/switch.py
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_circuit_control.py
  tests/test_control_gate.py
  tests/test_control_lock_state.py
  tests/test_select.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(adoption,extension,additions): five robustness defects from the release review
  custom_components/span_panel/additions.py
  custom_components/span_panel/adoption.py
  custom_components/span_panel/extension.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/notices.py
  developer.md
  tests/test_adoption.py
  tests/test_coordinator.py
  tests/test_extension_entities.py
  tests/test_new_entity_announcement.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(adoption): deterministic collision winner, digested capability tokens
  custom_components/span_panel/additions.py
  custom_components/span_panel/adoption.py
  custom_components/span_panel/helpers.py
  tests/test_adoption.py
  tests/test_coordinator.py
  tests/test_new_entity_announcement.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor: runtime-data types in a leaf module, one guard, no casts
  custom_components/span_panel/__init__.py
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/button.py
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/diagnostics.py
  custom_components/span_panel/entity.py
  custom_components/span_panel/field_paths.py
  custom_components/span_panel/grace_period.py
  custom_components/span_panel/migrations.py
  custom_components/span_panel/number.py
  custom_components/span_panel/runtime.py
  custom_components/span_panel/select.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/sensor_base.py
  custom_components/span_panel/services.py
  custom_components/span_panel/switch.py
  custom_components/span_panel/websocket.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix(coordinator): follow settability changes in both directions
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/helpers.py
  custom_components/span_panel/select.py
  custom_components/span_panel/switch.py
  tests/test_circuit_control.py
  tests/test_coordinator.py
  tests/test_helpers.py
  tests/test_select.py
  tests/test_setup_entry.py
Due: pylint-import-check, radon-complexity, radon-maintainability

docs: the security release, its limits, and two stale pins
  AGENTS.md
  CHANGELOG.md
  README.md
  developer.md
  prek.toml
  pyproject.toml
Due: none

docs: reauthenticate is the on-screen route to a pin
  CHANGELOG.md
  README.md
  uv.lock
Due: none

fix: close the final-review items — reconfigure fails closed, the pin's two uses, and the sweep
  AGENTS.md
  CHANGELOG.md
  README.md
  custom_components/span_panel/__init__.py
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/config_flow_validation.py
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/entity.py
  custom_components/span_panel/repairs.py
  custom_components/span_panel/runtime.py
  custom_components/span_panel/services.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/switch.py
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  developer.md
  tests/test_control_lock_state.py
  tests/test_schema_availability.py
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

chore: 2.1.0b17
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

docs: entity id and name handling rules
  developer_entity_id_and_name_handling.md
Due: none

remove extraneous test files
  test_migration.py
  test_migration_comprehensive.py
  test_migration_simple.py
Due: pylint-import-check, radon-complexity, radon-maintainability

chore(tests): drop two empty test modules and the README documenting one
  tests/entity_id_renaming_README.md
  tests/test_coordinator_migration.py
  tests/test_entity_bulk_naming_patterns.py
Due: radon-complexity, radon-maintainability

refactor(evse): one empty-charger sentinel, in util beside the builder that reads it
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/number.py
  custom_components/span_panel/sensor_evse.py
  custom_components/span_panel/util.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor(binary_sensor): name the offline-visible sensor set once
  custom_components/span_panel/binary_sensor.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor(controls): drop the client capability checks that cannot fail
  custom_components/span_panel/button.py
  custom_components/span_panel/number.py
  custom_components/span_panel/select.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/switch.py
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_button.py
  tests/test_circuit_control.py
  tests/test_dps_and_bess.py
  tests/test_evse_charge_limit.py
  tests/test_select.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor(diagnostics): read device_type and tabs straight off the circuit
  custom_components/span_panel/diagnostics.py
  tests/test_diagnostics.py
Due: pylint-import-check, radon-complexity, radon-maintainability

docs(extension): describe the fall-through the hint actually takes; freeze the unit map
  custom_components/span_panel/adoption.py
  custom_components/span_panel/extension.py
  developer.md
Due: pylint-import-check, radon-complexity, radon-maintainability

chore(tests): drop two more empty test files
  tests/test_power_debug.py
  tests/yaml_factories.py
Due: radon-complexity, radon-maintainability

Path conditions:
  pylint-import-check: any of: \.py$, but not: ^tests/.*|^scripts/.*
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$
