Repository SpanPanel/span: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-import-check, radon-complexity, radon-maintainability

Path conditions:
  pylint-import-check: any of: \.py$, but not: ^tests/.*|^scripts/.*
  radon-complexity: any of: \.py$
  radon-maintainability: any of: \.py$

fix: guard against null status_info in user/reauth flows, translate strings, add hassio tests
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  custom_components/span_panel/translations/es.json
  custom_components/span_panel/translations/fr.json
  custom_components/span_panel/translations/ja.json
  custom_components/span_panel/translations/pt.json
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

deps: bump dev dependencies and CI tooling
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: none

Fix zeroconf display on simulator
  custom_components/span_panel/config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Exclude high-churn energy sensor attrs from recorder (#197)
  CHANGELOG.md
  custom_components/span_panel/sensor_base.py
  tests/test_energy_sensor_recorder.py
Due: pylint-import-check, radon-complexity, radon-maintainability

docs: clarify unrecorded attrs apply to all Span energy sensors
  custom_components/span_panel/sensor_base.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: pull brand images locally
  CHANGELOG.md
  custom_components/span_panel/brand/dark_icon.png
  custom_components/span_panel/brand/dark_icon@2x.png
  custom_components/span_panel/brand/dark_logo.png
  custom_components/span_panel/brand/dark_logo@2x.png
  custom_components/span_panel/brand/icon.png
  custom_components/span_panel/brand/icon@2x.png
  custom_components/span_panel/brand/logo.png
  custom_components/span_panel/brand/logo@2x.png
  custom_components/span_panel/manifest.json
  pyproject.toml
  uv.lock
Due: none

remove: dead migration code and tests
  custom_components/span_panel/migration.py
  custom_components/span_panel/migration_utils.py
  tests/migration_storage/1_0_10/core.device_registry
  tests/migration_storage/1_0_10/core.entity_registry
  tests/migration_storage/1_0_4/core.device_registry
  tests/migration_storage/1_0_4/core.entity_registry
  tests/scripts/generate_migration_test_config.py
  tests/test_migration_1_0_10_to_1_2_0.py
  tests/test_migration_1_0_4_to_1_2_0.py
Due: pylint-import-check, radon-complexity, radon-maintainability

remove: dead code — entity_summary, version.py, unused test fixtures
  custom_components/span_panel/entity_summary.py
  custom_components/span_panel/version.py
  tests/fixtures/circuit_numbers.yaml
  tests/fixtures/expected_solar_circuit_numbers.yaml
  tests/fixtures/expected_solar_friendly.yaml
  tests/fixtures/friendly_names.yaml
  tests/fixtures/legacy_no_prefix.yaml
  tests/test_entity_summary.py
Due: pylint-import-check, radon-complexity, radon-maintainability

refactor: flatten config_flow_utils into top-level modules
  custom_components/span_panel/config_flow_options.py
  custom_components/span_panel/config_flow_utils/__init__.py
  custom_components/span_panel/config_flow_validation.py
Due: pylint-import-check, radon-complexity, radon-maintainability

update: metadata, strings, icons for HA core compliance
  custom_components/span_panel/const.py
  custom_components/span_panel/icons.json
  custom_components/span_panel/manifest.json
  custom_components/span_panel/quality_scale.yaml
  custom_components/span_panel/services.yaml
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
Due: pylint-import-check, radon-complexity, radon-maintainability

simplify: __init__.py entry setup and migration
  custom_components/span_panel/__init__.py
Due: pylint-import-check, radon-complexity, radon-maintainability

simplify: coordinator — remove solar migration, improve offline tracking
  custom_components/span_panel/coordinator.py
Due: pylint-import-check, radon-complexity, radon-maintainability

cleanup: helpers — remove dead functions, simplify
  custom_components/span_panel/helpers.py
Due: pylint-import-check, radon-complexity, radon-maintainability

update: config flow — httpx_client, error handling, proximity menu
  custom_components/span_panel/config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

update: entity platforms — core API updates and code quality
  custom_components/span_panel/binary_sensor.py
  custom_components/span_panel/button.py
  custom_components/span_panel/select.py
  custom_components/span_panel/sensor.py
  custom_components/span_panel/sensor_base.py
  custom_components/span_panel/sensor_circuit.py
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/sensor_evse.py
  custom_components/span_panel/sensor_panel.py
  custom_components/span_panel/switch.py
Due: pylint-import-check, radon-complexity, radon-maintainability

update: websocket — require_admin, sub-device validation, matching fix
  custom_components/span_panel/websocket.py
Due: pylint-import-check, radon-complexity, radon-maintainability

update: tests — new platform tests, expanded coverage
  prek.toml
  tests/test_binary_sensor_platform.py
  tests/test_button.py
  tests/test_circuit_control.py
  tests/test_circuit_manifest_service.py
  tests/test_config_flow_validation.py
  tests/test_coordinator.py
  tests/test_diagnostics.py
  tests/test_dps_and_bess.py
  tests/test_energy_dip_compensation.py
  tests/test_energy_sensor_recorder.py
  tests/test_evse_entities.py
  tests/test_grace_period_option.py
  tests/test_grace_period_restoration.py
  tests/test_helpers.py
  tests/test_init_helpers.py
  tests/test_panel_sensors.py
  tests/test_promoted_sensors.py
  tests/test_schema_validation.py
  tests/test_select.py
  tests/test_sensor_entities.py
  tests/test_sensor_phase_mapping.py
  tests/test_sensor_platform.py
  tests/test_setup_entry.py
  tests/test_snapshot_interval_option.py
  tests/test_tabs_attribute.py
  tests/test_unique_id_generation.py
  tests/test_unmapped_sensor_ids.py
  tests/test_upgrade_scenarios.py
  tests/test_v2_config_flow.py
  tests/test_websocket.py
Due: radon-complexity, radon-maintainability

fix: set version 2.0.5 for custom repo packaging
  pyproject.toml
  uv.lock
Due: none

fix: correct Python 2-style except syntax, remove core-only pylint directives
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/select.py
  custom_components/span_panel/sensor_base.py
  custom_components/span_panel/sensor_circuit.py
  custom_components/span_panel/sensor_definitions.py
  custom_components/span_panel/sensor_evse.py
  custom_components/span_panel/sensor_panel.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: restore config entry migration path for v1.3.1 upgrades
  custom_components/span_panel/__init__.py
  custom_components/span_panel/migration.py
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

remove: orphaned migration.py — no longer imported
  custom_components/span_panel/migration.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: auto-remove simulation config entries during migration
  custom_components/span_panel/__init__.py
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: return True after removing simulation entry during migration
  custom_components/span_panel/__init__.py
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: let simulation entries fail naturally at setup instead of removing
  custom_components/span_panel/__init__.py
  tests/test_v2_config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: log warning for deprecated simulation config entries
  custom_components/span_panel/__init__.py
Due: pylint-import-check, radon-complexity, radon-maintainability

Add current monitoring system design spec
  docs/superpowers/specs/2026-03-29-current-monitoring-design.md
Due: none

Add mains leg configurability to current monitoring spec
  docs/superpowers/specs/2026-03-29-current-monitoring-design.md
Due: none

Add current monitoring implementation plan
  docs/superpowers/plans/2026-03-29-current-monitoring.md
  docs/superpowers/specs/2026-03-29-current-monitoring-design.md
Due: none

feat: add current monitoring constants and option keys
  custom_components/span_panel/const.py
  custom_components/span_panel/options.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: add CurrentMonitor core with threshold evaluation and notifications
  custom_components/span_panel/current_monitor.py
  tests/test_current_monitor.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: add storage persistence for current monitor overrides
  custom_components/span_panel/current_monitor.py
  tests/test_current_monitor.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: wire current monitoring into options flow, services, and coordinator
  custom_components/span_panel/__init__.py
  custom_components/span_panel/config_flow_options.py
  custom_components/span_panel/coordinator.py
  custom_components/span_panel/current_monitor.py
  custom_components/span_panel/services.yaml
  custom_components/span_panel/strings.json
  tests/test_current_monitor_options.py
  tests/test_current_monitor_services.py
Due: pylint-import-check, radon-complexity, radon-maintainability

test: add notification dispatch tests for current monitoring
  tests/test_current_monitor.py
Due: radon-complexity, radon-maintainability

Add AGENTS.md with service registration requirements
  AGENTS.md
Due: none

Add permitted operations section to AGENTS.md
  AGENTS.md
Due: none

feat: split monitoring options into separate config flow step
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/config_flow_options.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  tests/test_current_monitor_options.py
  tests/test_upgrade_scenarios.py
Due: pylint-import-check, radon-complexity, radon-maintainability

fix: call super().__init__ in OptionsFlowHandler and show Next button
  custom_components/span_panel/config_flow.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: add options menu and shorten help descriptions
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  tests/test_upgrade_scenarios.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: two-step monitoring flow and enriched status response
  custom_components/span_panel/config_flow.py
  custom_components/span_panel/config_flow_options.py
  custom_components/span_panel/current_monitor.py
  custom_components/span_panel/strings.json
  custom_components/span_panel/translations/en.json
  tests/test_current_monitor_options.py
Due: pylint-import-check, radon-complexity, radon-maintainability

feat: key monitoring status circuits by entity_id instead of UUID
  custom_components/span_panel/current_monitor.py
Due: pylint-import-check, radon-complexity, radon-maintainability
